<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Title</title>
  <style>
    .chartBox {
      width: 128px;
      height: 128px;
      padding: 20px;
      border-radius: 20px;
      display: inline-block;
      position: relative;
    }
  </style>
</head>

<body>
  <main role="main">
    <div th:fragment="admin-home">
      <div class="semi-circle"></div>
      <div class="d-flex flex-column">
        <div class="cards form-group custom-div1">
          <a th:href="@{/admin/course}" class="unit-a">
            <div class="card-single cs3">
              <div>
                <h1>Course</h1>
              </div>
              <div class="card-link">
                <i class="fa-solid fa-book"></i>
                <span id="num" th:text="${courseCount}"></span>
              </div>
            </div>
          </a>
          <a th:href="@{/admin/batch/}" class="unit-a">
            <div class="card-single cs4">
              <div>
                <h1>Batch</h1>
              </div>
              <div class="card-link">
                <i class="fa-solid fa-person-chalkboard"></i>
                <span id="num" th:text="${courseCount}"></span>
              </div>
            </div>
          </a>
          <a th:href="@{/admin/teacher/teacherList}" class="unit-a">
            <div class="card-single cs1">
              <div>
                <h1>Teacher</h1>
              </div>
              <div class="card-link">
                <i class="fa-solid fa-people-group"></i>
                <span id="num" th:text="${teacherCount}"></span>
              </div>
            </div>
          </a>
        </div>

        <div class="interface"></div>

        <div class="charts custom-div d-flex flex-column">

          <div>
            <select name="" id="batch">
              <option th:each="batch : ${batchList}" th:value="${batch.id}" th:text="${batch.name}"></option>
            </select>
          </div>
          <div id="graficoSituacoesPedidos" class="chartBox">
            <canvas id="myChart" style="max-width:70%; width: 40% ; height: 200px;"></canvas>
          </div>
        </div>
      </div>

      <div id="footer"></div>

      <script th:src="@{/assets/jquery/jquery.min.js}"></script>
      <script src="https://kit.fontawesome.com/83e4876698.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      </script>


      <script type="text/javascript">

        $(document).ready(function () {
          let batchId = document.getElementById("batch").value;
          var studentName = [];
          var attendence = [];
          window.addEventListener('afterprint', () => {
            barGraph.resize();
          })
          document.getElementById("batch").addEventListener("change", () => {

            let target = document.getElementById("batch").value;
            studentName = []
            attendence = []
            $('#myChart').remove();
            $('#graficoSituacoesPedidos').append('<canvas id="myChart" style="max-width:70%; width:40% ; height: 200px;"></canvas>');
            $.ajax({
              url: "/admin/grap?batchId=" + target,
              success: function (result) {
                var batchId = [studentName, attendence, batchId];
                console.log(result);
                result.forEach((element) => {
                  studentName.push(element.stuName);
                  attendence.push(element.attendance);
                });
                var chartdata = {
                  labels: studentName,
                  datasets: [
                    {
                      label: 'Attend Count Per Student Data',
                      backgroundColor: 'rgb(106, 204, 226)',
                      borderColor: 'rgb(106, 204, 226)',
                      hoverBackgroundColor: 'rgb(38, 163, 192)',
                      hoverBorderColor: 'rgb(38, 163, 192)',
                      data: attendence
                    }
                  ]
                };

                var ctx = $("#myChart");

                var barGraph = new Chart(ctx, {
                  type: 'bar',
                  data: chartdata
                });

              }
            });


          });

        //   setTimeout(() => {
          $.ajax({
            url: "/admin/grap?batchId=" + batchId,
            success: function (result) {
              var batchId = [studentName, attendence, batchId];
              result.forEach((element) => {
                studentName.push(element.stuName);
                attendence.push(element.attendance);
              });

              var chartdata = {
                labels: studentName,
                datasets: [
                  {
                    label: 'Attend Count Per Student Data',
                    backgroundColor: 'rgb(106, 204, 226)',
                    borderColor: 'rgb(106, 204, 226)',
                    hoverBackgroundColor: 'rgb(38, 163, 192)',
                    hoverBorderColor: 'rgb(38, 163, 192)',
                    data: attendence
                  }
                ]
              };

              var ctx = $("#myChart");

              var barGraph = new Chart(ctx, {
                type: 'bar',
                data: chartdata
              });

            },
          });


        //   }, 100);

        });
      </script>

    </div>
  </main>
</body>

</html>