<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<body>
  <main role="main">
    <div th:fragment="admin-home">
      <div class="semi-circle"></div>
      <div class="d-flex flex-column">
        <div class="cards form-group custom-div1">
          <a th:href="@{/admin/course}" class="unit-a">
            <div class="card-single cs3">
              <div>
                <h1>Course</h1>
              </div>
              <div class="card-link">
                <i class="fa-solid fa-book"></i>
                <span id="num" th:text="${courseCount}"></span>
              </div>
            </div>
          </a>
          <a th:href="@{/admin/batch/}" class="unit-a">
            <div class="card-single cs4">
              <div>
                <h1>Batch</h1>
              </div>
              <div class="card-link">
                <i class="fa-solid fa-person-chalkboard"></i>
                <span id="num" th:text="${batchCount}"></span>
              </div>
            </div>
          </a>
          <a th:href="@{/admin/teacher/}" class="unit-a">
            <div class="card-single cs1">
              <div>
                <h1>Teacher</h1>
              </div>
              <div class="card-link">
                <i class="fa-solid fa-people-group"></i>
                <span id="num" th:text="${teacherCount}"></span>
              </div>
            </div>
          </a>
        </div>
        <div class="charts custom-div d-flex flex-column" style="width: 90%;">
          <div class="col-sm-4 mt-5 ms-5">
            <h3 class="text-muted">Current Batch</h3>
            <select name="" id="batch" class="form-control">
              <option th:each="batch : ${batchList}" th:value="${batch.id}" th:text="${batch.name}"></option>
            </select>
          </div>
          <div style="margin: 50px;">
            <div id="graficoSituacoesPedidos" class="container2 " style="width: 900px;">
              <canvas id="myChart" style="max-width:70%; width:40% ; height: 170px;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>