<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
  <main role="main">
    <div th:fragment="course-list">
      <div class="semi-circle"></div>
      <div class="banner">
        <div class="circle">
          <i class="fa-regular fa-folder-open"></i>
        </div>
        <div>
          <h1>Courses</h1>
          <h3 th:text="${courseCount}"></h3>
        </div>
      </div>

      <div class="custom-div margin-top-8">
        <div class="width-100">
          <!-- Change -->
          <div>
            <div class="bread-crumb d-flex justify-content-between width-90">
              <div class="bread container-fluid">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a class="text-decoration-none" href="A002.html">
                        Course List
                      </a>
                    </li>
                  </ol>
                </nav>
              </div>
              <div></div>
            </div>
            <div class="mytabs">
              <input type="radio" id="tabunit" name="mytabs" checked="checked" />
              <label for="tabunit" id="lab">Course List</label>
              <div class="tab">
                <div class="add-list">
                  <label>Add Course</label>
                  <button data-bs-toggle="modal" data-bs-target="#course-add"
                    class="btn btn-outline-success btn-floating" data-mdb-ripple-color="dark">
                    <i class="fa-solid fa-circle-plus"></i>
                  </button>
                </div>
                <table id="datatable">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Created Date</th>
                      <th>Details</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="course-row" th:each="course : ${courseList}">
                      <td th:text="${course.name}"></td>
                      <td th:text="${course.createdDate}">10/02/2022</td>
                      <td>
                        <a th:href="@{/admin/course/courseDetail(courseId=${course.id},radio=1)}"
                          class="more-info btn btn-floating" data-mdb-ripple-color="dark">
                          See More
                        </a>
                      </td>
                      <td>
                        <a 
                          class="btn btn-outline-primary btn-floating" data-bs-toggle="modal"
                          th:attr="href='#edit-model'+${course.id}" data-mdb-ripple-color="dark">
                          <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        
                        <a 
                          class="btn btn-outline-danger btn-floating delete-course" th:id="${course.id}"
                          data-mdb-ripple-color="dark">
                          <i class="fa-solid fa-circle-minus"></i>
                        </a>
                        <!-- <a th:id="${chapterFile.id}" class="btn btn-outline-danger remove-chapterFile btn-floating"
                          data-mdb-ripple-color="dark">
                          <i class="fa-solid fa-circle-minus"></i>
                        </a> -->
                        <!-- th:href="@{/admin/course/delete(courseId=${course.id})}" -->
                      </td>
                      <!--Edit Course Modal Box-->
                      <div class="modal fade" style="z-index: 9999999 !important; margin-top: 90px;" th:attr="id='edit-model'+${course.id}"
                        tabindex="0" aria-labelledby="course-edit-modal" aria-hidden="false">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Rename Course</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form th:action="@{course/editpost}" method="post" th:object="${courseDTO}">
                                <div class="mb-3">
                                  <input type="hidden" class="form-control" name="id" th:value="${course.id}" />
                                  <label for="" class="col-form-label">
                                    Course Name :
                                  </label>
                                  <input type="text"  class="form-control" name="name" th:value="${course.name}" />
                                </div>
                                <div class="float-end">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                  </button>
                                  <button type="submit" class="btn btn-primary">Rename</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="plus-icon"></div>
          </div>
        </div>
      </div>

      <!-- Add Course Modal Box -->
      <div class="modal fade" style="z-index: 9999999 !important; margin-top: 90px;" id="course-add" tabindex="0"
        aria-labelledby="course-add-modal" aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Course</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form th:action="@{course/add}" method="post" th:object="${courseDTO}">
                <div class="mb-3">
                  <label class="col-form-label" for="course-name">
                    Course Name :
                  </label>
                  <input type="text" name="course-name" class="form-control" id="" th:field="*{name}" />
                </div>
                <div class="float-end">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


    </div>
  </main>
</body>

</html>