<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{layouts/main :: layout(~{::main})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <body>
    <main role="main">
      <div th:fragment="exam-add">
        <div class="semi-circle"></div>
        <div class="banner">
          <div class="circle">
            <i class="fa-solid fa-file-circle-question"></i>
          </div>
          <div>
            <h1 th:text="${courseName}"></h1>
            <h3>Add Exam</h3>
          </div>
        </div>
        <div class="custom-div margin-top-8">
          <div class="container">      
            <div class="exam-form rounded">
              <form action="#" method="post" id="exam">
                <div class="exam-header p-3" id="exam-header">
                  <div class="container">
                    <div class="row">
                      <div class="col-6 text-secondary">
                        <span>
                          <input
                            type="hidden"
                            class="form-control"
                            name="course-id"
                            placeholder="courseId with hidden input"
                            th:value="${courseId}"
                          />
                        </span>
                      </div>

                      <div class="col-6 text-end">
                        <a th:href="@{exam-cancel/(courseId=${courseId})}" class="btn btn-outline-danger">Cancel</a>
                        <button
                          type="submit"
                          class="btn btn-success"
                          style="font-size: 1em"
                          id="add_exam"
                        >
                          <i class="fa-solid fa-folder-plus me-1"></i>
                          <span style="font-size: 15px"> Upload </span>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 text-secondary">Exam Name</div>
                      <div class="col-4 text-secondary">Exam Type</div>
                      <div class="col-4 text-secondary">Duration</div>
                    </div>
                    <div class="row mt-1 d-flex">
                      <div class="col-4">
                        <input
                          type="text"
                          maxlength="50"
                          class="form-control"
                          name="name"
                          required
                          placeholder="Exam Name"
                          oninput="checkName();"
                        />
                        <span id="exam_name_error" class="text-danger ms-1" style="font-size: 15px;"></span>
                      </div>
                      <div class="col-4">
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="answer-type"
                            value="Multiple Choice"
                            id="answer-radio"
                            checked
                          />
                          <label class="form-check-label" for="answer-radio">
                            Multiple Choice
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="answer-type"
                            id="answer-other"
                            value="Code Test"
                          />
                          <label class="form-check-label" for="answer-other">
                            Code Test
                          </label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="row">
                          <div class="col-md-6 col-sm-12 d-flex">
                            <input
                              type="number"
                              min="0"
                              max="128"
                              value="00"
                              name="hour"
                              placeholder="Hour"
                              class="form-control me-2"
                              style="width: 60px; height: 30px"
                            />
                            <label class="text-secondary">Hour</label>
                          </div>
                          <div class="col-md-6 col-sm-12 d-flex">
                            <input
                              type="number"
                              name="minute"
                              min="0"
                              max="59"
                              class="form-control me-2"
                              style="width: 60px; height: 30px"
                              value="03"
                            />
                            <label class="text-secondary">Minutes</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End exam header-->

                <!-- Exam Content-->
                <div class="exam-content p-4 rounded" id="exam-content">
                  <!--Mutliple Choice-->
                  <ol class="list-group">
                    <li class="m-choice card-body shadow rounded mt-2 p-4" id="m-choice">
                      <input type="hidden" id="question-id"  value="0">
                    <div class="row">
                          <div class="col-8 mr-auto">
                              <textarea maxlength="2000" name="mc-question" class="col-10 form-control question border-none"  rows="1" placeholder="Your question..." required oninput="checkQuestionName(this);"></textarea>
                              <span class="question-error-span text-danger" style="font-size: 14px;"></span>
                          </div>                                                    
                          <div class="col-2">
                              <input type="number" name="point" class="form-control me-2 " style="width: 60px; height: 30px" min="1" value="1"><label class="text-secondary">Points</label>
                          </div> 
                          <div class="col-2  ">
                              <button type="button" class=" question-add btn rounded-circle  text-primary" style="box-shadow: none;"><i class="fa-solid fa-plus"></i></button>
                              <button type="button" class=" question-remove btn rounded-circle  text-danger" style="box-shadow: none;"><i class="fa-solid fa-trash-can"></i></button>
                          </div>                                  
                      </div>                                
                      <div class="row mt-1 option-added" >
                          <div class="col-8">
                              <input type="radio" name="correct-ans0" checked class="me-2" required><label><input type="text" id="option-input" name="option" class="form-control" placeholder="Option" maxlength="1000" required oninput="checkAnswerName(this);"></label>
                              <span id="answer-error" class="ms-2 text-danger answer-error" style="font-size: 14px;"></span>
                          </div>
                          <div class="col-4">                             
                              <button type="button" style="box-shadow: none;" class="btn rounded-circle option-plus text-secondary" ><i class="fa-solid fa-plus"></i></button>
                              <button type="button" class="btn option-delete rounded-circle  text-danger" style="box-shadow: none;" ><i class="fa-solid fa-delete-left"></i></button>
                          </div>
                      </div>
                      <div class="row mt-1 option-added" >
                          <div class="col-8">
                              <input type="radio" name="correct-ans0"  class="me-2" required><label><input type="text" id="option-input" name="option" class="form-control" placeholder="Option" maxlength="1000" required oninput="checkAnswerName(this);"/></label>
                              <span id="answer-error" class="ms-2 text-danger answer-error" style="font-size: 14px;"></span>
                          </div>
                          <div class="col-4">                             
                              <button type="button" style="box-shadow: none;" class="btn rounded-circle option-plus text-secondary" ><i class="fa-solid fa-plus"></i></button>
                              <button type="button" class="btn option-delete rounded-circle  text-danger" style="box-shadow: none;" ><i class="fa-solid fa-delete-left"></i></button>
                          </div>
                      </div>
                  </li>
                  </ol>
                  <!-- End Multiple choice question-->

                  <!-- Other Question -->
                  <div class="exam-other shadow rounded p-4" id="exam-other">
                    <ol class="list-group">
                      <li class="card-body">
                        <div class="row other-question">
                          <div class="col-8 mr-auto">
                            <textarea
                              id="textarea-other-question"
                              name="other-question"
                              class="col-10 form-control question border-none"
                              rows="1"
                              placeholder="Your question..."
                              maxlength="2000"
                              required
                              oninput="checkQuestionName(this);"
                            ></textarea>
                            <span class="question-error-span text-danger" style="font-size: 14px;"></span>
                          </div>
                          <div class="col-2">
                            <input
                              type="number"
                              name="point"
                              class="form-control me-2"
                              style="width: 70px; height: 30px"
                              id="point"
                              min="1"
                              value="1"
                            /><label class="text-secondary">Points</label>
                          </div>
                          <div class="col-1 d-flex">
                            <button
                              type="button"
                              class="btn btn-other-question-add rounded-circle text-primary"
                              style="box-shadow: none"
                            >
                              <i class="fa-solid fa-plus"></i>
                            </button>

                            <button
                              type="button"
                              class="btn other-question-delete rounded-circle text-danger"
                              style="box-shadow: none"
                            >
                              <i class="fa-solid fa-trash-can"></i>
                            </button>
                          </div>
                        </div>
                      </li>
                    </ol>
                  </div>
                  <!-- End other question -->
                </div>
                <!-- Edn exam content-->
              </form>
            </div>
            <!--End Exam form div-->
          </div>
          <!-- End container-->
        </div>
      </div>
    </main>
  </body>
</html>
