<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
  <main>
    <div th:fragment="chapterFile-list">
      <div class="semi-circle"></div>
      <div class="banner">
        <div class="circle">
          <i class="fa-regular fa-folder-open"></i>
        </div>
        <div>
          <h1>Courses</h1>
          <h3 th:text="${courseCount}"></h3>
        </div>
      </div>
      <div class="custom-div margin-top-8">
        <div id="courselist" class="width-100">
          <div>
            <div class="bread-crumb d-flex justify-content-between width-90">
              <div class="bread container-fluid">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a class="text-decoration-none" href="/admin/course">
                        Course List
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a class="text-decoration-none"
                        th:href="@{/admin/course/courseDetail(courseId=${courseId},radio='chapter')}">
                        Course Details
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a class="text-decoration-none" >
                        Chapter File List
                      </a>
                    </li>
                  </ol>
                </nav>
              </div>
              <div></div>
            </div>
            <div class="mytabs">
              <input type="radio" id="tabunit" name="mytabs" checked="checked" />
              <label for="tabunit" id="lab">Chapter Name</label>
              <div class="tab">
                <div class="add-list">
                  <label>Add File</label>
                  <a href="#" class="btn btn-outline-success btn-floating" data-bs-toggle="modal"
                    data-bs-target="#add-file">
                    <i class="fa-solid fa-circle-plus"></i>
                  </a>
                </div>
                <table id="datatable3">
                  <thead>
                    <tr>
                      <th>File Name</th>
                      <th>File Type</th>
                      <th>Preview</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="chapterFile : ${chapterFileList}">
                      <td th:text="${chapterFile.name}"></td>
                      <td th:text="${chapterFile.fileType}"></td>
                      <td th:if="${chapterFile.fileType == 'video'}">

                        <video controls controlsList="nodownload" width="130" height="75">
                          <source th:src="@{${'/assets/img/chapterFiles/'+chapterId+'/'+chapterFile.name}}" />

                        </video>

                      </td>
                      <td th:unless="${chapterFile.fileType == 'video'}">

                        <a th:href="@{${'/assets/img/chapterFiles/'+chapterId+'/'+chapterFile.name}}"
                          class="btn btn-outline-primary btn-floating" data-bs-target="#edit-file"
                          data-mdb-ripple-color="dark" style="margin-left: 30px;">
                          <i class="fa-solid fa-download"></i>
                        </a>

                      </td>
                      <td>
                        <a th:attr="href='#edit-model'+${chapterFile.id}" class="btn btn-outline-primary btn-floating"
                          data-bs-toggle="modal" data-mdb-ripple-color="dark">
                          <i class="fa-regular fa-pen-to-square"></i>
                        </a>



                        <a th:id="${chapterFile.id}" class="btn btn-outline-danger remove-chapterFile btn-floating"
                          data-mdb-ripple-color="dark">
                          <i class="fa-solid fa-circle-minus"></i>
                        </a>
                        <!-- <a th:href="@{/admin/course/chapter/chapterFile/delete(chapterFileId=${chapterFile.id},chapterId=${chapterId})}"
                          class="btn delete-chapter-file btn-outline-danger btn-floating" data-mdb-ripple-color="dark">
                          <i class="fa-solid fa-circle-minus"></i>
                        </a>  -->
                      </td>
                      <!-- Edit File Modal Box-->

                      <div class="modal fade" th:attr="id='edit-model'+${chapterFile.id}" tabindex="-1"
                        aria-labelledby="Edit File" aria-hidden="true" style="margin-top: 120px;">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Edit File</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form th:action="@{chapterFile/editpost}" method="post" th:object="${chapterFileDTO}"
                                enctype="multipart/form-data">
                                <input type="hidden" class="form-control" name="id" th:value="${chapterFile.id}"
                                  id="message-text" />
                                <input type="hidden" class="form-control" name="chapterId" th:value="${chapterId}"
                                  id="message-text" />
                                <div class="mb-3">
                                  <input type="text" class="form-control" th:value="${chapterFile.fileType}"
                                    name="fileType" id="message-text" readonly />
                                </div>
                                <div class="mb-3" th:if="${chapterFile.fileType == 'video'}">
                                  <input type="file" class="form-control" id="name" placeholder="Files"
                                    th:field="*{file}" accept="video/mp4,video/x-m4v,video/*" required/>
                                </div>
                                <div class="mb-3" th:if="${chapterFile.fileType == 'pdf'}">
                                  <input type="file" class="form-control" id="name" placeholder="Files"
                                    th:field="*{file}" accept="application/pdf" required/>
                                </div>
                                <div class="mb-3" th:if="${chapterFile.fileType == 'assignment'}">
                                  <input type="file" class="form-control" id="name" placeholder="Assignment"
                                    th:field="*{file}" required/>
                                </div>

                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                  </button>
                                  <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="plus-icon"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add File Modal Box -->
      <div class="modal fade" id="add-file" tabindex="-1" aria-labelledby="Add File" aria-hidden="true"
        style="margin-top: 120px;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add File</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form th:action="@{chapterFile/addpost}" method="post" th:object="${chapterFileDTO}"
                enctype="multipart/form-data">
                <div class="mb-3">
                  <input type="hidden" class="form-control" name="chapterId" th:value="${chapterId}"
                    id="message-text" />
                  <select class="form-select form-select-lg mb-3" id="fileTypeSelectBox" aria-label=".form-select-lg example" name="fileType" required>
                    <option value="" disabled selected>Choose File Type</option>
                    <option value="video">Video</option>
                    <option value="pdf">Pdf</option>
                    <option value="assignment">Assignment</option>
                  </select>
                </div>
                <div class="mb-3">
                  <input type="file" id="fileInputAccordingToSelectBox" class="form-control" th:field="*{file}" required/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>




    </div>
    </div>
  </main>
</body>

</html>