<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div th:fragment="admin-batch-see-more">
        <div class="semi-circle"></div>
        <div class="banner">
            <div class="circle">
                <i class="fa-solid fa-people-group"></i>
            </div>
            <div>
                <h1>Batches</h1>
                <h3>Total: 4</h3>
            </div>
        </div>
        <div class="custom-div margin-top-8">
            <div id="courselist" class="width-100">
                <div id="batchdetail">
                    <div class="bread-crumb d-flex justify-content-between width-90">
                        <div class="bread container-fluid">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a class="text-decoration-none" href="A003.html">
                                            Batch List
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a class="
                                        -none" href="A003-03.html">
                                            Batch Details
                                        </a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="mytabs">
                        <input type="radio" id="tabunit" name="mytabs" checked="checked" />
                        <label for="tabunit" id="lab">Chapter</label>
                        <div class="tab">
                            <table id="datatable">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--/*@thymesVar id="chapter" type="ChapterDTOList"*/-->
                                <form th:action="@{/AddDate}" method="post" th:object="${chapterDTOList}">
                                    <tr th:each="chapterDTO,iterationStatus: ${chapterDTOList}">
                                        <input th:id="'batchId_'+${iterationStatus.count}" type="hidden" th:value="${batch_id}"/>
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:id="'chpName_'+${iterationStatus.count}" th:text="${chapterDTO.name}"></td>
                                        <td th:id="'chpStatus_'+${iterationStatus.count}" th:text="${chapterDTO.status}"></td>

                                        <td th:id="'chpstartDate_'+${iterationStatus.count}" >

                                            <input  th:id="'startDate_'+${iterationStatus.count}"
                                                    type="date"
                                                    class="form-control"
                                                    name="start-date"
                                                    th:value="${chapterDTO.start_date}"
                                                    disabled/>
                                        </td>
                                        <td th:id="'chpendDate_'+${iterationStatus.count}" >
                                            <input   th:id="'endDate_'+${iterationStatus.count}"
                                                     type="date"
                                                     class="form-control"
                                                     name="end-date"
                                                     th:value="${chapterDTO.end_date}"
                                                     disabled />

                                        </td>
                                        <td>
                                            <a
                                                    href=""
                                                    th:id="'img-click_'+${iterationStatus.count}"
                                                    class="btn btn-outline-primary btn-chapter-edit btn-floating"
                                                    data-mdb-ripple-color="dark"
                                            >
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>

                                            <!-- <p>Custom Assignment add button htae pay pr</p> -->
                                        </td>
                                    </tr>

                                </form>
                                </tbody>
                            </table>
                        </div>

                        <input type="radio" id="tabstudent" name="mytabs" />
                        <label for="tabstudent" id="lab">Student</label>
                        <div class="tab">
                            <div class="add-list">
                                <label>Add Student List</label>
                                <a
                                        th:href="@{/addStudent{batch_id}(batch_id=${batch_id})}"
                                        class="btn btn-outline-success btn-floating"
                                        data-mdb-ripple-color="dark"
                                >
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                            </div>
                            <table id="datatable1">
                                <thead>
                                <tr>
                                    <th>Student Id</th>
                                    <th>Student Name</th>
                                    <th>Password</th>
                                    <th>Attendance %</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="studentDTO,status: ${studentDTOList}" >
                                    <td  th:text="${studentDTO.code}"></td>
                                    <td th:text="${studentDTO.name}"></td>
                                    <td th:text="${studentDTO.password}"></td>
                                    <td th:text="${studentDTO.attendance}"></td>
                                    <td>
                                        <a th:href="@{/editStudent{studentdata}(studentdata=${studentDTO.id})}"
                                                class="btn btn-outline-primary btn-floating student-edit"
                                                data-mdb-ripple-color="dark">
                                            <i  class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a th:id="${batch_id}+'_'+${studentDTO.id}"
                                                class="btn btn-outline-danger btn-floating remove-student"
                                                data-mdb-ripple-color="dark"
                                        >

                                            <i class="fa-solid fa-circle-minus"></i>
                                        </a>
                                    </td>


                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <input type="radio" id="tabteacher" name="mytabs" />
                        <label for="tabteacher" id="lab">Teacher</label>
                        <div class="tab">
                            <div class="add-list">
                                <label>Add Teacher</label>
                                <a
                                        href=""
                                        class="btn btn-outline-success btn-floating"
                                        data-bs-toggle="modal"
                                        data-bs-target="#teacher-add"
                                        data-mdb-ripple-color="dark"
                                >
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                            </div>
                            <table id="datatable2">
                                <thead>
                                <tr>
                                    <th>Teacher Photo</th>
                                    <th>Name</th>
                                      <th>Code</th>
                                     <th>Password</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="teacher: ${teacherList}" >
                                     <td><img th:src="@{${teacher.ImagePath}}" alt="teacher photo" id="teacherimage"></td>
                                    <td th:text="${teacher.name}">
                                    </td>
                                    <td th:text="${teacher.code}"></td>
                                    <td th:text="${teacher.password}"></td>
                                    <td>
                                      
                                        <a      th:id="${teacher.code}+'_'+${batch_id}"
                                                href=""
                                                class="btn btn-outline-danger btn-floating remove-teacher"
                                                data-mdb-ripple-color="dark"
                                        >
                                            <i class="fa-solid fa-circle-minus"></i>
                                        </a>
                                       
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <input type="radio" id="tabexam" name="mytabs" />
                        <label for="tabexam" id="lab">Exam-Schedule</label>
                        <div class="tab">
                            <div class="add-list">
                                <!-- <label>Add Exam List</label>
                              <a href="exam-add-page.html" class="btn btn-outline-success btn-floating" data-mdb-ripple-color="dark">
                                <i class="fa-solid fa-circle-plus"></i>
                              </a> -->
                            </div>
                            <div  class="table-responsive ">
                                <table id="datatable4" class="hover">
                                    <thead>
                                    <tr>
                                        <th>Exam Name</th>
                                        <th>Start-Date</th>
                                        <th>End-Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <form th:action="@{/}" action="#" method="post" th:object="${examScheduleList}">
                                    <tr th:each="examSchedule: ${examScheduleList}">
                                        <td th:text="${examSchedule.examName}"></td>
                                        <td>
                                            <input
                                                    type="datetime-local"
                                                    class="form-control"
                                                    name="start-date"                                                
                                                    th:value = "${examSchedule.startDate != null ? examSchedule.startDate: ''}"
                                                    style="max-width: 200px; padding:6px 15px;"
                                                    disabled
                                            />
                                        </td>
                                        <td>
                                            <input
                                                    type="datetime-local"
                                                    class="form-control"
                                                    name="end-date"                                                
                                                    th:value = "${examSchedule.endDate != null ? examSchedule.endDate: ''}"
                                                    style="max-width: 200px; padding:6px 15px;"
                                            disabled/>
                                        </td>
                                        <!-- <td th:text = "${examSchedule.status != null ? examSchedule.status : 'No Status'}"
                                             th:class="${examSchedule.status == 'Upcoming'? 'text-info':''}"></td>
                                        <td> -->
                                        <td th:if = "${examSchedule.status == null}" th:text="'No Status'">
                                        </td>
                                        <td th:if = "${examSchedule.status == 'Upcoming'}" th:text="${examSchedule.status}"
                                            class="text-danger">
                                        </td>
                                        <td th:if = "${examSchedule.status == 'In Progress'}" th:text="${examSchedule.status}"
                                            class="text-success">
                                        </td>
                                        <td th:if = "${examSchedule.status == 'Done'}" th:text="${examSchedule.status}"
                                            class="text-secondary">
                                        </td>
                                       <td>
                                            <a
                                                    href=""
                                                    th:id="${examSchedule.id}"
                                                    class="btn btn-outline-primary btn-floating btn-exam-schedule-edit"
                                                    data-mdb-ripple-color="dark"
                                            >
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                            <a
                                                    href=""
                                                    class="btn remove-exam btn-outline-danger b btn-floating"
                                                    data-mdb-ripple-color="dark"
                                                    th:id="${examSchedule.id}"
                                            >
                                                <i class="fa-solid fa-circle-minus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                        <input type="radio" id="tabattendance" name="mytabs" />
                        <label for="tabattendance" id="lab">Attendance</label>
                        <div class="tab">

                              <!-- Start Attendance Table-->
                              <table id="datatable5">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th th:each = "attendance: ${attendanceList}"
                                    th:text = "${attendance.studentName}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each = "classroom: ${classroomDateList}">
                                    <td>
                                        <input
                                                type="date"
                                                class="form-control"
                                                name="attend-date"
                                                th:value = "${classroom.date}"
                                        />
                                    </td>
                                    <td class="stu-attendance">
                                        <input
                                                type="hidden"
                                                id="student-id"
                                                value="student-id"
                                                name="student-id"
                                        />
                                        <select
                                                class="form-control attend-type"
                                                name="attend-type"

                                                id="attend-type"
                                        >
                                            <option selected value="present">present</option>
                                            <option value="absent">absent</option>
                                            <option value="leave">leave</option>
                                        </select>
                                    </td>
                                    <td class="stu-attendance">
                                        <input
                                                type="hidden"
                                                id="student-id"
                                                value="student-id"
                                                name="student-id"
                                        />
                                        <select
                                                class="form-control attend-type"
                                                name="attend-type"

                                                id="attend-type"
                                        >
                                            <option selected value="present">present</option>
                                            <option value="absent">absent</option>
                                            <option value="leave">leave</option>
                                        </select>
                                    </td>
                                    <td class="stu-attendance">
                                        <input
                                                type="hidden"
                                                id="student-id"
                                                value="student-id"
                                                name="student-id"
                                        />
                                        <select
                                                class="form-control attend-type"
                                                name="attend-type"
                                                id="attend-type"
                                        >
                                            <option selected value="present">present</option>
                                            <option value="absent">absent</option>
                                            <option value="leave">leave</option>
                                        </select>
                                    </td>
                                    <td>
                                        <a
                                                href=""
                                                class="btn btn-attendance-edit btn-outline-primary btn-floating"
                                                data-mdb-ripple-color="dark"
                                        >
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a
                                                href=""
                                                class="btn btn-outline-danger remove-attendance btn-floating"
                                                data-mdb-ripple-color="dark"
                                        >
                                            <i class="fa-solid fa-circle-minus"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- End attendance table-->
                        </div>
                        <input type="radio" id="tabclassroom" name="mytabs" />
                        <label for="tabclassroom" id="lab">Classroom</label>
                        <div class="tab">
                            <div class="add-list">
                                <label>Add Class</label>
                                <a
                                        th:href="@{/setupClassroomAdd/{batch_id}(batch_id = ${batch_id})}"
                                        class="btn btn-outline-success btn-floating"
                                        data-mdb-ripple-color="dark"
                                >
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                            </div>
                            <table id="datatable6">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Start-Time</th>
                                    <th>End-Time</th>
                                    <th>Teacher</th>
                                    <th>Classroom Link</th>
                                    <th>Status</th>
                                    <th>Record Video</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each = "classroom : ${classroomList}" >
                                    <td th:text = "${classroom.date}"></td>
                                    <td th:text = "${classroom.startTime}"></td>
                                    <td th:text = "${classroom.endTime}"></td>
                                    <td th:text = "${classroom.teacherName}"></td>
                                    <td th:text = "${classroom.link}"></td>
                                    <td th:text = "${classroom.status}"></td>
                                    <td th:text = "${classroom.recordedVideo}"></td>
                                    <td>
                                        <a
                                                th:href="@{/editClassroom}"
                                                class="btn btn-outline-primary btn-floating"
                                                data-mdb-ripple-color="dark"
                                        >
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a
                                                href=""
                                                class="btn btn-outline-danger remove-classroom btn-floating"
                                                data-mdb-ripple-color="dark">
                                            <i class="fa-solid fa-circle-minus"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="plus-icon"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main-->

        <!-- Modal for teacher add-->
        <div
                class="modal fade"
                id="teacher-add"
                aria-hidden="true"
                aria-labelledby="Teachareaddmodal"
                tabindex="-1"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Add Teacher
                        </h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">

                        <form id="teacher-batch" >
                            <input type="hidden" id="bId" th:value="${batch_id}">

                            <p th:if="${#lists.isEmpty(teacherList1)}">No Teacher To add</p>
                            <div th:unless="${#lists.isEmpty(teacherList1)}" >
                            <select  class="form-select" aria-label="Default select example" name="code">
                                <option id="tId" th:each="teacher: ${teacherList1}"   th:value="${teacher.id}" th:text="${teacher.name}">No Teacher To Add
                                </option>
                            </select>
                            </div>
                            <div class="modal-footer">
<!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
                                <button  th:disabled="${#lists.isEmpty(teacherList1)}" th:onclick="addTeacherToBatch()" class="btn btn-primary" >Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal for Date Add in attendance-->
        <div
                class="modal fade"
                id="attendance-date-add"
                aria-hidden="true"
                aria-labelledby="Teachareaddmodal"
                tabindex="-1"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Add Date</h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <input
                                    type="date"
                                    class="form-control text-center mb-3 mx-auto"
                                    id="attendance-date"
                                    style="width: 80%; border: 1px solid;"
                            />

                            <div class="modal-footer">
                                <button class="btn btn-secondary">Cancel</button>
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>



</body>
</html>