<!DOCTYPE html>

<body>
    <main role="main">
        <div th:fragment="create-batch">
            <div class="semi-circle"></div>
            <div class="banner">
                <div class="circle">
                    <i class="fa-solid fa-people-group"></i>
                </div>
                <div>
                    <h1>Batches</h1>
                    <!-- <h3>Total: 4</h3> -->
                </div>
            </div>
            <div class="custom-div margin-top-8">
                <div id="" class="width-100">
                    <div class="course-add-container" id="batch-add">
                        <div class="bread-crumb1 d-flex justify-content-between width-90">
                            <div class="bread container-fluid">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a class="text-decoration-none" th:href="@{/admin/batch/}">
                                                Batch List
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a class="text-decoration-none" th:href="@{/admin/batch/goToAddBatch}">
                                                Batch Add
                                            </a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="margin-button">
                            <!-- <a class="text-decoration-none text-muted" href="A003.html">
                            &lt; Back
                        </a> -->
                        </div>
                        <div class="">

                            <form class=" ms-2 pb-4 part1" th:id="'batchList'" th:action="@{/admin/batch/addBatch}"
                                method="post" th:object="${batchDTO}" style="max-width: 600px;">
                                <div class="row">
                                    <label class="col text-start mb-2 mt-3">
                                        <h2>Create Batch</h2>
                                    </label>
                                </div>
                                <div class="row ">
                                    <div class="col">
                                        <div th:if="${msg}" th:text="${msg}" class=" alert alert-success form-control"
                                            style=""></div>
                                    </div>


                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label" for="name">Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" autofocus required
                                            placeholder="Enter Name" name="name" oninput="checkName();"
                                            th:field="*{name}" style="text-transform: capitalize;"/>
                                        <span id="same-name" hidden="hidden" style="color:red;">Name already
                                            taken!</span>
                                        <span id="diff-name" hidden="hidden" style="color:green;">Name Available!</span>
                                    </div>
                                </div>
                                <div class="row mb-3 part2">
                                    <label class="col-sm-2 col-form-label" for="course">Course:</label>
                                    <div class="col-sm-10">
                                        <select  name="courseId" class="form-control" id="course" required>
                                            <option value="" disabled selected >Select Course</option>
                                            <option th:each="course: ${courseList}" th:value="${course.id}"
                                                th:text="${course.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label" for="teacher">Teacher:</label>
                                    <div class="col-sm-10">
                                        <select name="teacherList"  class="form-control" id="teacher"
                                            multiple="multiple">

                                            <option th:each="teacher: ${teacherListAll}" th:value="${teacher.id}"
                                                th:text="${teacher.name}"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-2 mr-auto col-form-label"></div>
                                    <div class="col-sm-10">
                                        <button type="submit" id="addBatch" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Reset</button>
                                    </div>
                                </div>
                            </form>

                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>

</html>