<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{layouts/main :: layout(~{::main})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <body>
    <main role="main">
      <div th:fragment="student-add">
        <div class="semi-circle"></div>
        <div class="banner">
          <div class="circle">
            <i class="fa-solid fa-people-group"></i>
          </div>
          <div>
            <h1 th:if="${batchName}" th:text="${batchName}"></h1>
            <!-- <h3>Total: 4</h3> -->
          </div>
        </div>
        <div class="custom-div margin-top-8">
          <div id="add-form" class="width-100">
            <div class="container mt-2">
              <div class="title">
                <div class="main-title d-flex flex-row justify-content-center">
                  <h4></h4>
                </div>
                <div class="sub-title d-flex justify-content-between mb-2">
                  <h4>Add Student</h4>
                  <h4>
                    <button
                      type="submit"
                      value="Save"
                      form = "student-form"
                      class="btn btn-outline-primary float-end me-4"
                      id="saveStudent"
                    >
                      <i class="fa-solid fa-file me-1"></i>
                      Save
                    </button>
                  </h4>
                </div>
              </div>
              <div class="table-responsive">
                <form id="student-form" method="post">
                  <table
                    class="table table-striped table-hover"
                    id="student-table"
                  >
                    <tr>
                      <!-- <th class="align-middle">#</th> -->
                      <th class="align-middle">Id</th>
                      <th class="align-middle">Password</th>
                      <th class="align-middle">Name</th>
                      <th>
                        <span id="total-student">Total: 1</span>
                       
                      </th>
                    </tr>

                    <tr class="form-row student-row p-0">
                      <div class="row">
                        <!-- <td  class="align-middle">1.</td> -->

                        <td class="tdInput">
                          <input
                            type="text"
                            class="form-control codes enterId"
                            id="enterId"
                            name="code"
                            placeholder="Id"
                            value=""
                            required
                            autofocus
                            oninput="checkId(this);"
                            style="text-transform: uppercase;"
                          />
                          <span
                            id="same-name"
                            class="same-name"
                            hidden="hidden"
                            style="color: red;"
                          ></span>
                          <span
                            id="diff-name"
                            class="diff-name"
                            hidden="hidden"
                            style="color: green;"
                          >
                            Id Available!
                          </span>
                          <span class="id-repeat ms-1" style="color: red;"></span>
                        </td>
                        <td class="tdInput">
                          <input
                            type="text"
                            class="form-control"
                            name="password"
                            placeholder="Password"
                            value=""
                            required
                          />
                        </td>
                        <td class="tdInput">
                          <input
                            type="text"
                            class="form-control"
                            name="name"
                            id="inputName"
                            placeholder="Name"
                            value=""
                            required
                            style="text-transform: capitalize;"
                          />
                        </td>

                        <td class="btn-td">
                          <button
                            type="button"
                            class="btn btn-outline-success add-row"
                          >
                            <i class="fa-solid fa-plus"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-danger remove-row"
                          >
                            <i class="fa-solid fa-minus"></i>
                          </button>
                        </td>

                        <td style="visibility: hidden;" class="tdInput">
                          <input
                            name="batchId"
                            id="batchId"
                            type="hidden"
                            th:value="${batchId}"
                          />
                        </td>
                      </div>
                    </tr>
                  </table>
                </form>
              </div>
              <!-- End table responsive -->
            </div>
            <!--End Studen add Section-->
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
