<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org" xmlns:teacher>

<body>
  <main role="main">
    <div th:fragment="teacher-add">
      <div class="semi-circle"></div>
      <div class="banner">
        <div class="circle">
          <i class="fa-solid fa-person-chalkboard"></i>
        </div>
        <div>
          <h1>Teachers</h1>
          <h3 th:text="'Total: '+${teachrCount}"></h3>
        </div>
      </div>
      <div class="custom-div margin-top-8">
        <div id="courselist" class="width-100">
          <div class="container bg-light">
            <div class="bread-crumb1 d-flex justify-content-between m-0 p-0">
              <div class="bread container-fluid">
                <nav aria-label="breadcrumb m-0 p-0">
                  <ol class="breadcrumb mt-5">
                    <li class="breadcrumb-item">
                      <a class="text-decoration-none" th:href="@{/admin/teacher/}">
                        Teacher List
                      </a>
                    </li>
                    <li class="breadcrumb-item ">
                      <a class="text-decoration-none" th:href="@{/admin/teacher/addTeacher}">
                        Teacher Add
                      </a>
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mt-4 py-md-5 text-end">
                <div class="col-sm-10">
                  <img id="thumbnail" alt="Preview" style="width: 200px; height: 200px" />
                </div>
              </div>
              
              <form action="/admin/teacher/addTeacherPost" method="post" th:object="${teacherDto}"
                enctype="multipart/form-data" class="mx-4 py-md-3 col-md-8" style="max-width: 500px">
                <div class="row">
                  <label class="col text-start mb-2">
                    <h2>Create Teacher</h2>
                  </label>
                </div>
                <div class="row">
                  <div class="col">
                    <div th:if="${msg}" th:text="${msg}" class="alert alert-success form-control" style=""></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div th:if="${error}" th:text="${error}" class="alert alert-success form-control" style=""></div>
                  </div>
                </div>
                <div class="form-group mt-2 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">
                    Code
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Teacher ID" th:field="*{code}"
                      th:value="${teacherDto.code}" style="text-transform: uppercase;"/>
                  </div>
                </div>
                <div class="form-group mt-2 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">
                    Name
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Name" th:field="*{name}" style="text-transform: capitalize;" />
                  </div>
                </div>
                <div class="form-group mt-2 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">
                    Password
                  </label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                      th:field="*{password}"  />
                  </div>
                </div>
                <div class="form-group mt-2 row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">
                    Photo
                  </label>
                  <div class="col-sm-10">
                    <input type="file" id="file" class="form-control" th:field="*{photo}" placeholder="Choose Image" />
                  </div>
                </div>
                <div class="form-group mt-2 row py-md-3">
                  <div class="col-sm-2 mr-auto col-form-label"></div>
                  <div class="col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Add" />
                    <input type="reset" class="btn btn-secondary" value="Reset" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>