<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>header</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />

  <!-- carousel-css -->
  <link rel="stylesheet" href="./assets/owlcarousel/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="./assets/owlcarousel/css/owl.theme.default.min.css" />

  <!-- subject-css -->
  <link rel="stylesheet" href="assets/css/styles.css" />
  <link rel="stylesheet" href="./assets/css/student-home.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="assets/css/header.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <script src="./assets/jquery/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/83e4876698.js" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('#header').load('S005.html')
    })
  </script>
  <script>
    $(function () {
      $('#footer').load('F001.html')
    })
  </script>
</head>

<body class="body-color">
  <main>
    <div id="header"></div>
    <div class="semi-circle"></div>
    <div class="banner">
      <div class="circle"><i class="fa-solid fa-chalkboard-user"></i></div>
      <div>
        <h1>Java Course</h1>
        <h3>Batch 01</h3>
      </div>
    </div>
    <section class="container header-margin" id="subject" style="margin-top: 10px;">
      <div class="subject">
        <div class="row subject-button">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn button active" id="inprogress">
              InProgress
            </button>
            <button type="button" class="btn button" id="upcomming">
              Upcomming
            </button>
            <button type="button" class="btn button" id="done">Done</button>
          </div>
        </div>
        <div class="row">
          <div class="carousel-container">
            <div class="owl-carousel show owl-theme" id="inprogress-show">
              <a th:each="inProgressChapter : ${inProgressChapterList}"
                th:href="@{student/chapter/(chapterId=${inProgressChapter.id})}" class="unit-a">
                <div class="chapter">
                  <div style="max-width: 100%;">
                    <div class="card-header chapter-text"><span th:text="${inProgressChapter.name}"></div>
                    <div class="card-body">
                      <!-- <h5 class="card-title chapter-text">Core Java</h5> -->
                    </div>
                  </div>
                </div>
              </a>
              <a th:each="inProgressCustomChapter : ${inProgressCustomChapterList}"
                th:href="@{student/customChapter/(customChapterId=${inProgressCustomChapter.id})}" class="unit-a">
                <div class="chapter">
                  <div style="max-width: 100%;">
                    <div class="card-header chapter-text"><span th:text="${inProgressCustomChapter.name}"></div>
                    <div class="card-body">
                      <!-- <h5 class="card-title chapter-text">Core Java</h5> -->
                    </div>
                  </div>
                </div>
              </a>


            </div>
            <!--End owl-carousel-->

            <div class="owl-carousel owl-theme" id="upcomming-show">
              <a th:each="upCommingChapter : ${upCommingChapterList}"
                th:href="@{student/chapter/(chapterId=${upCommingChapter.id})}" class="unit-a">
                <div class="chapter">
                  <div style="max-width: 100%;">
                    <div class="card-header chapter-text"><span th:text="${upCommingChapter.name}"></div>
                    <div class="card-body">
                      <!-- <h5 class="card-title chapter-text">Core Java</h5> -->
                    </div>
                  </div>
                </div>
              </a>

              <a th:each="upCommingCustomChapter : ${upCommingCustomChapterList}"
                th:href="@{student/customChapter/(customChapterId=${upCommingCustomChapter.id})}" class="unit-a">
                <div class="chapter">
                  <div style="max-width: 100%;">
                    <div class="card-header chapter-text"><span th:text="${upCommingCustomChapter.name}"></div>
                    <div class="card-body">
                      <!-- <h5 class="card-title chapter-text">Core Java</h5> -->
                    </div>
                  </div>
                </div>
              </a>


            </div>
            <!--End owl-carousel-->

            <div class="owl-carousel owl-theme" id="done-show">
              <a th:each="doneChapter : ${doneChapterList}" th:href="@{student/chapter/(chapterId=${doneChapter.id})}"
                class="unit-a">
                <div class="chapter">
                  <div style="max-width: 100%;">
                    <div class="card-header chapter-text"><span th:text="${doneChapter.name}"></div>
                    <div class="card-body">
                      <!-- <h5 class="card-title chapter-text">Core Java</h5> -->
                    </div>
                  </div>
                </div>
              </a>

              <a th:each="doneCustomChapter : ${doneCustomChapterList}"
                th:href="@{student/customChapter/(customChapterId=${doneCustomChapter.id})}" class="unit-a">
                <div class="chapter">
                  <div style="max-width: 100%;">
                    <div class="card-header chapter-text"><span th:text="${doneCustomChapter.name}"></div>
                    <div class="card-body">
                      <!-- <h5 class="card-title chapter-text">Core Java</h5> -->
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!--End container-->
        </div>
      </div>
      <!--End subject-->
    </section>
    <!--End subject Section-->

    <section class="gradient-custom custom-comment-box" style="background-color: rgb(255, 255, 255);">
      <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col">
                    <div class="d-flex flex-start" th:each="comment : ${stuCommentViewDTOList}">
                      <img class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" width="65"
                        height="65" />
                      <div class="flex-grow-1 flex-shrink-1">
                        <!-- COMMENT -->
                        <div>
                          <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1" th:text="${comment.commenterName}">
                              <!-- Maria Smantha -->
                              <span class="small" th:text="${comment.dateTime}"></span>
                            </p>
                            <a href="#!">
                              <i class="fas fa-reply fa-xs"></i>
                              <span class="small">reply</span>
                            </a>
                          </div>
                          <p class="small mb-0" th:text="${comment.text}">
                            <!-- It is a long established fact that a reader will
                            be distracted by the readable content of a page. -->
                          </p>
                        </div>
                        <!-- reply -->
                        <div class="d-flex flex-start mt-4" th:each="reply : ${comment.stuReplayViewDTOList}">
                          <a class="me-3" href="#">
                            <img class="rounded-circle shadow-1-strong" th:src="" alt="avatar" width="65" height="65" />
                          </a>
                          <div class="flex-grow-1 flex-shrink-1">
                            <div>
                              <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1" th:text="${reply.commenterName}">
                                  Simona Disa
                                  <span class="small" th:text="${reply.dateTime}"></span>
                                </p>
                              </div>
                              <p class="small mb-0" th:text="${reply.text}">
                                <!-- letters, as opposed to using 'Content here,
                                content here', making it look like readable
                                English. -->
                              </p>
                            </div>
                          </div>
                        </div>
                        <!-- reply -->

                      </div>
                    </div>



                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                      <form th:action="@{student/commentpost}" th:object="${stuCommentPostDTO}">
                        <div class="d-flex flex-start w-100">
                          <img class="rounded-circle shadow-1-strong me-3"
                            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                            height="40" />
                          <input type="hidden" name="batchId" th:value="${batchId}">
                          <input type="hidden" name="commenterCode" th:value="${stuCode}">
                          <input type="hidden" name="stuId" th:value="${stuId}">
                          <div class="form-outline w-100">
                            <textarea class="form-control" id="textAreaExample" rows="4" style="background: #ffff;"
                              th:field="*{text}"></textarea>
                            <!-- <label class="form-label" for="textAreaExample">
                            Message
                          </label> -->
                          </div>
                        </div>
                        <div class="float-end mt-2 pt-1">
                          <button type="submit" class="btn btn-primary btn-sm">
                            Post comment
                          </button>
                          <button type="reset" class="btn btn-outline-primary btn-sm">
                            Cancel
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div id="footer"></div>

  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
  <script src="assets/js/subject-carousel.js"></script>
  <script src="assets/js/header.js"></script>

  <script>
    $('#subject .subject .button').click(function () {
      $('#subject .subject .button').removeClass('active')
      $(this).addClass('active')
      //$(".owl-carousel").addClass("d-none");
      //$("#"+$(this).attr("id")+"-show").removeClass("d-none");
      $('.owl-carousel').removeClass('show')
      $('#' + $(this).attr('id') + '-show').addClass('show')
    })
  </script>
</body>

</html>