<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam</title>
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/css/student-exam.css" />
    <link rel="stylesheet" href="./assets/css/header.css" />
    <script src="./assets/jquery/jquery.min.js"></script>
    <script>
      $(function () {
        $('#header').load('S005.html')
      })
    </script>
    <script>
      $(function () {
        $('#footer').load('F001.html')
      })
    </script>
    <script
      src="https://kit.fontawesome.com/83e4876698.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body-color">
    <div id="header"></div>

    <div class="semi-circle"></div>
    <div class="banner">
      <div class="circle"><i class="fa-solid fa-paintbrush"></i></div>
      <div>
        <h1>Monthly Assessment Exam</h1>
        <h3>Batch 01</h3>
      </div>
    </div>
    <section id="exam" style="margin-top: 8px;" class="custom-div">
      <div class="container" id="exam-content" style="background-color: white;">
        <div class="exam-header">
          <div class="exam-title">
            <h4 class="text-center">Final Exam</h4>
            <div class="row">
              <div class="col-6">
                <span
                  class="ms-2 mark"
                  style="background: transparent;"
                  id="mark"
                >
                  100
                </span>
                Marks
              </div>
              <div id="count-time" class="col-6 text-end count-time"></div>
            </div>
          </div>
        </div>
        <ul class="exam-body">
          <ol class="exam-list">
            <li class="exam-question">
              Choose an answer?
              <ul class="exam-answer">
                <li class="list-item">
                  <input
                    class="form-check-input answer"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  Answer 1
                </li>
                <li class="list-item">
                  <input
                    class="form-check-input answer"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  Answer 2
                </li>
                <li class="list-item">
                  <input
                    class="form-check-input answer"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  Answer 3
                </li>
              </ul>
              <!-- End exam answer -->
            </li>
            <!--End exam question-->

            <li class="exam-question">
              Second Question. Choose an Answer.
              <ul class="exam-answer">
                <li class="list-item">
                  <input
                    class="form-check-input answer"
                    type="radio"
                    value=""
                    id="flexCheckDefault"
                  />
                  Answer 1
                </li>
                <li class="list-item">
                  <input
                    class="form-check-input answer"
                    type="radio"
                    value=""
                    id="flexCheckDefault"
                  />
                  Answer 2
                </li>
                <li class="list-item">
                  <input
                    class="form-check-input answer"
                    type="radio"
                    value=""
                    id="flexCheckDefault"
                  />
                  Answer 3
                </li>
              </ul>
              <!-- End exam answer -->
            </li>
            <!--End exam question-->

            <li class="exam-question">
              Answer the question. What is 3 + 2?
              <ul class="exam-answer">
                <textarea
                  class="form-control text-input"
                  rows="4"
                  placeholder="Enter your answer here."
                ></textarea>
              </ul>
              <!-- End exam answer -->
            </li>
            <!--End exam question Text Area-->

            <li class="exam-question">
              Fourth Question. Choose an Answer.
              <ul class="exam-answer">
                <li class="list-item">
                  <input
                    class="form-check-input answer"
                    type="radio"
                    value=""
                    id="flexCheckDefault"
                  />
                  Answer 1
                </li>
                <li class="list-item">
                  <input
                    class="form-check-input answer"
                    type="radio"
                    value=""
                    id="flexCheckDefault"
                  />
                  Answer 2
                </li>
                <li class="list-item">
                  <input
                    class="form-check-input answer"
                    type="radio"
                    value=""
                    id="flexCheckDefault"
                  />
                  Answer 3
                </li>
              </ul>
              <!-- End exam answer -->
            </li>
            <!--End exam question-->

            <li class="exam-question">
              Upload your file here.
              <ul class="exam-answer">
                <input type="file" class="form-control mt-2 file-input" />
              </ul>
              <!-- End exam answer -->
            </li>
            <!--End exam question-->
          </ol>
          <!--End exam list-->
        </ul>
        <!--End exam body-->
        <div class="exam-button m-5 from-control">
          <button id="submit" class="btn btn-success">Submit Answer</button>
        </div>
      </div>
      <!--End exam content-->
    </section>
    <!-- End exam section -->
    <div id="footer"></div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/js/subject-carousel.js"></script>
    <script src="assets/js/header.js"></script>

    <script>
      //Exam countdown
      var totalAmount = localStorage.getItem('countDown') || 0,
        timeloop

      if (totalAmount) {
        timeSet()
      }

      function timeSet() {
        totalAmount--
        // Refresh value in localStorage
        localStorage.setItem('countDown', totalAmount)

        // If countdown is over, then remove value from storage and clear timeout
        if (totalAmount < 0) {
          localStorage.removeItem('countDown')
          totalAmount = 0
          clearTimeout(timeloop)
          return
        }

        var hour = parseInt(totalAmount / 3600)
        var minutes = parseInt((totalAmount % 3600) / 60)
        var seconds = parseInt((totalAmount % 3660) % 60)

        if (seconds < 10) seconds = '0' + seconds
        if (minutes < 10) minutes = '0' + minutes

        $('#count-time').text(hour + ':' + minutes + ':' + seconds)

        timeloop = setTimeout(timeSet, 1000)
      }

      $(document).ready(function () {
        //var reqVal = $("#request").val();
        var parAmt = parseInt(3600)

        if (timeloop) {
          clearTimeout(timeloop)
        }

        totalAmount = parAmt

        //$("#request").val(" ");

        timeSet()
      })

      $('#submit').on('click', function () {
        totalAmount = 0
        clearTimeout(timeloop)
        localStorage.removeItem('countDown')
      })
    </script>
  </body>
</html>
