<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>header</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        
        <!-- carousel-css -->
        <link rel="stylesheet" href="./assets/owlcarousel/css/owl.carousel.min.css">
        <link rel="stylesheet" href="./assets/owlcarousel/css/owl.theme.default.min.css">
    
        <!-- subject-css -->
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="stylesheet" href="./assets/css/subject.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="assets/css/header.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="./assets/jquery/jquery.min.js"></script>
        <script> 
          $(function(){
            $("#header").load("S005.html"); 
          });
          </script>
          <script> 
            $(function(){
              $("#footer").load("F001.html"); 
            });
            </script>
    
    
    </head>

<body class="body-color">
    <div id="header"></div>
    
    <section class="Form my-4 mx-5" >
        <div class="container header-margin footer-margin" >
            <form>
                <div class="row no-gutters form-color shodow-div-profile" style="background-color: white;">
                    
                    <div class="col-lg-5">

                       <center>
                            <img src="./assets/img/profileboy.jpg" alt="" width="180px" class="dot">

                            <!--  <img src="C:/Users/Win Win Khaing/Pictures/Screenshots/Screenshot (4).png" class="img_fluid" alt="">-->
                            <input type="file" name="" id="file" class="form-control file-choose" name="news_img"
                                placeholder="Choose Image" required="required" style="width: 300px;"/>
                            </center>

                    </div>
                
                    <div class="col-lg-7 px-5 pt-5">
                        <center>

                        
                        <h1 class="font-weight-bold py-3">Student Profile</h1>


                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" placeholder="Old Password" class="form-control mt-3 mb-5">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" placeholder="New Password" class="form-control mt-3 mb-5">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" placeholder="Comfirm Password" class="form-control mt-3 mb-5">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="button" class="btn1 mt-3 mb-5">Submit</button>
                            </div>
                        </div>
                    </center>
                    </div>
            </form>
        </div>


    </section>
    <div id="footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>