<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="STUFRG :: head"></div>
  <title>Student ChapterFiles</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/student-home.css" />

  <!-- carousel-css -->
  <!-- <link rel="stylesheet" href="./assets/owlcarousel/css/owl.carousel.min.css">
  <link rel="stylesheet" href="./assets/owlcarousel/css/owl.theme.default.min.css"> -->

  <!-- subject-css -->
  <!-- <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="./assets/css/subject.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="assets/css/header.css">
  <link rel="stylesheet" href="assets/css/main.css"> -->
  <!-- <script src="./assets/jquery/jquery.min.js"></script>
  <script>
    $(function () {
      $("#header").load("S005.html");
    });
  </script>
  <script>
    $(function () {
      $("#footer").load("footer.html");
    });
  </script>
  <script src="https://kit.fontawesome.com/83e4876698.js" crossorigin="anonymous"></script> -->

</head>

<body class="body-color">
  <header th:replace="STUFRG :: header"></header>

    <main role="main">
      <div th:replace="fragments/S001-01 :: student-chapterFiles"></div>
    </main>
  <footer th:replace="STUFRG :: footer"></footer>
  <div th:replace="STUFRG :: scripts"></div>

  <!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/header.js"></script> -->
</body>

</html>