body{
    
    font-family: 'Roboto',sans-serif;
}
.mytabs{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    /* padding: 25px; */
}

.mytabs input[type="radio"]{
    display: none;
}

.mytabs #lab{
    padding: 6px 20px;
    background: #fff;
    font-weight: bold;
    border-radius: 30px;
    margin: 5px 5px 0px 0px;
    color: #00458a;
    border : .5px solid #1775d3;
    outline: none;
    transition: all 0.5s;
}
.mytabs #lab:hover{
    cursor: pointer;
    background: #1775d3;
    outline:none;
    color: #fff; 
}
.mytabs .tab{
    width: 100%;
    padding: 11px;
    /* background: #f4fff7; */
    order:1;
    display: none;
    
 
}

.mytabs .tab h2{
    font-size: 3em;

}
.mytabs input[type="radio"]:checked + #lab + .tab {
    display: block;
    
}

.mytabs input[type="radio"]:checked + #lab{
    background: #116ac4;
    outline: none;
    color: #fff; 
}

.mytabs-container{
    position: relative;
}

.add-list{
     float: right;
     padding-bottom: 1rem;
}

.java{
    padding-right: 5rem;
}


input[name="attend-date"],
input[type="date"],
 input:disabled{
    border: none ; 
    outline: none; 
    width: 135px;
    cursor: pointer;
    background: transparent;
}

input[type="datetime-local"]:disabled{    
    outline: none; 
    max-width: auto;
    cursor: pointer;
    background: transparent;
}

