
section{
    background: #fefefe;
}

#error{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#error .error-card{
    height: 400px;
    background: #fefefe;
    height: auto;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#error .error-title{
    text-transform: uppercase;
    font-size: 2em;
    padding: 20px;
    text-align: center;
    color: rgb(238, 10, 10);
}
#error .error-title h1{
    color: rgb(238, 65, 12);
}

#error .error-content{
    padding: 20px;
}

#error .error-pict{
    max-width:400px;
    max-height:400px;
}
.errorPage{
    display: block;
    margin-left: auto;
    margin-right: auto
}