<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body class="body-color">
    <main role="main">
        <div th:fragment="student-assignment">
            <div class="semi-circle"></div>
            <div>
                <div class="assigncontainer">
                    <div class="circle">
                        <img id="file" src="assets/img/assignment.png" alt="file" />
                    </div>
                    <div class="part1 d-flex flex-row">
                        <div class="assign_header">
                            <div class="line">
                                <h1>Student Management Assignment</h1>
                                <div>
                                    <div class="assign-p">
                                        <p th:text="${assignmentMarkDTO.studentMark}+'/100 point'"></p>
                                        <p
                                            th:text="'Due '+${assignmentDateTimeDTO.end_date}+' '+${assignmentDateTimeDTO.end_time}">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="part2">
                        <div class="upload">
                            <form th:action="@{/student/assignmentAdd}" method="post" th:object="${assignmentFileDTO}"
                                enctype="multipart/form-data">
                                <div class="d-flex justify-content-between">
                                    <h5>Your Work</h5>
                                    <p th:text = "${status}"></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p th:text = "${assignmentMarkDTO.submitDate}"></p>
                                    <p th:text = "${assignmentMarkDTO.submitTime}"></p>
                                </div>
                                <input type="hidden" th:field="*{assignmentId}" >
                                <input type="hidden" th:field="*{studentId}" >
                                <input class="sub form-control" type="file" id="formFileDisabled"
                                    th:field="*{assignmentFile}" />
                                <input th:if="${assignmentMarkDTO.submitTime == 'SubmitTime'}" id="sub" type="submit" value="submit" />
                                <input th:unless="${assignmentMarkDTO.submitTime == 'SubmitTime'}" id="sub" type="submit" value="Resubmit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <section class="gradient-custom custom-comment-box" style="background-color: rgb(255, 255, 255);">
                <div class="container my-5 py-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-10 col-xl-8">
                            <div class="">
                                <div class="card-body p-4">
                                    <div class="row">
                                        <div class="col">
                                            <div class="d-flex flex-start">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                                                    alt="avatar" style="width: 50px; height: 50px; margin-right: 10px;" />
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                Maria Smantha
                                                                <span class="small">- 2 hours ago</span>
                                                            </p>
                                                            <a href="#!">
                                                                <i class="fas fa-reply fa-xs"></i>
                                                                <span class="small">reply</span>
                                                            </a>
                                                        </div>
                                                        <p class="small mb-0">
                                                            It is a long established fact that a reader will be
                                                            distracted by the readable content of a page.
                                                        </p>
                                                    </div>

                                                    <div class="d-flex flex-start mt-4">
                                                        <a class="me-3" href="#">
                                                            <img class="rounded-circle shadow-1-strong"
                                                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp"
                                                                alt="avatar" style="width: 50px; height: 50px; margin-right: 10px;" />
                                                        </a>
                                                        <div class="flex-grow-1 flex-shrink-1">
                                                            <div>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center">
                                                                    <p class="mb-1">
                                                                        Simona Disa
                                                                        <span class="small">- 3 hours ago</span>
                                                                    </p>
                                                                </div>
                                                                <p class="small mb-0">
                                                                    letters, as opposed to using 'Content here,
                                                                    content here', making it look like readable
                                                                    English.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex flex-start mt-4">
                                                        <a class="me-3" href="#">
                                                            <img class="rounded-circle shadow-1-strong"
                                                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                                                alt="avatar" style="width: 50px; height: 50px; margin-right: 10px;" />
                                                        </a>
                                                        <div class="flex-grow-1 flex-shrink-1">
                                                            <div>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center">
                                                                    <p class="mb-1">
                                                                        John Smith
                                                                        <span class="small">- 4 hours ago</span>
                                                                    </p>
                                                                </div>
                                                                <p class="small mb-0">
                                                                    the majority have suffered alteration in some
                                                                    form, by injected humour, or randomised words.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-start mt-4">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp"
                                                    alt="avatar" style="width: 50px; height: 50px; margin-right: 10px;" />
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                Natalie Smith
                                                                <span class="small">- 2 hours ago</span>
                                                            </p>
                                                            <a href="#!">
                                                                <i class="fa-solid fa-reply"></i>
                                                                <span class="small">reply</span>
                                                            </a>
                                                        </div>
                                                        <p class="small mb-0">
                                                            The standard chunk of Lorem Ipsum used since the
                                                            1500s is reproduced below for those interested.
                                                            Sections 1.10.32 and 1.10.33.
                                                        </p>
                                                    </div>

                                                    <div class="d-flex flex-start mt-4">
                                                        <a class="me-3" href="#">
                                                            <img class="rounded-circle shadow-1-strong"
                                                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                                                                alt="avatar" style="width: 50px; height: 50px; margin-right: 10px;" />
                                                        </a>
                                                        <div class="flex-grow-1 flex-shrink-1">
                                                            <div>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center">
                                                                    <p class="mb-1">
                                                                        Lisa Cudrow
                                                                        <span class="small">- 4 hours ago</span>
                                                                    </p>
                                                                </div>
                                                                <p class="small mb-0">
                                                                    Cras sit amet nibh libero, in gravida nulla.
                                                                    Nulla vel metus scelerisque ante sollicitudin
                                                                    commodo. Cras purus odio, vestibulum in
                                                                    vulputate at, tempus viverra turpis.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex flex-start mt-4">
                                                        <a class="me-3" href="#">
                                                            <img class="rounded-circle shadow-1-strong"
                                                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(29).webp"
                                                                alt="avatar" style="width: 50px; height: 50px; margin-right: 10px;" />
                                                        </a>
                                                        <div class="flex-grow-1 flex-shrink-1">
                                                            <div>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center">
                                                                    <p class="mb-1">
                                                                        Maggie McLoan
                                                                        <span class="small">- 5 hours ago</span>
                                                                    </p>
                                                                </div>
                                                                <p class="small mb-0">
                                                                    a Latin professor at Hampden-Sydney College in
                                                                    Virginia, looked up one of the more obscure
                                                                    Latin words, consectetur
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex flex-start mt-4">
                                                        <a class="me-3" href="#">
                                                            <img class="rounded-circle shadow-1-strong"
                                                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                                                alt="avatar" style="width: 50px; height: 50px; margin-right: 10px;" />
                                                        </a>
                                                        <div class="flex-grow-1 flex-shrink-1">
                                                            <div>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center">
                                                                    <p class="mb-1">
                                                                        John Smith
                                                                        <span class="small">- 6 hours ago</span>
                                                                    </p>
                                                                </div>
                                                                <p class="small mb-0">
                                                                    Autem, totam debitis suscipit saepe sapiente
                                                                    magnam officiis quaerat necessitatibus odio
                                                                    assumenda, perferendis quae iusto labore
                                                                    laboriosam minima numquam impedit quam dolorem!
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                                <div class="d-flex flex-start w-100">
                                                    <img class="rounded-circle shadow-1-strong me-3"
                                                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                                                        alt="avatar" width="40" height="40" />
                                                    <div class="form-outline w-100">
                                                        <textarea class="form-control" id="textAreaExample" rows="4"
                                                            style="background: #fff;"></textarea>
                                                        <label class="form-label" for="textAreaExample">
                                                            Message
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="float-end mt-2 pt-1">
                                                    <button type="button" class="btn btn-primary btn-sm">
                                                        Post comment
                                                    </button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>
    </main>
</body>

</html>