

  <!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body class="body-color">
  <main role="main">
    <div th:fragment="student-video">
      <div class="semi-circle"></div>
      <div class="banner">
        
        
      </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label header-unit" style="margin-top: 70px;"> 
    <div style="margin-left: auto; width: 80%; margin-right: auto ;">
      <h3 >
      <span th:text="${name}">
      </h3>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9" th:if="${chapterType == 'chapter'}">
    <video class="video-fluid z-depth-1" autoplay controls controlsList="nodownload">
      <source th:src="@{${'/assets/img/chapterFiles/'+chapterFileDTO.chapterId+'/'+chapterFileDTO.name}}"  />
    </video>
    
  </div>
  <div class="embed-responsive embed-responsive-16by9" th:if="${chapterType == 'customChapter'}">
    <video class="video-fluid z-depth-1" autoplay controls controlsList="nodownload">
      <source th:src="@{${'/assets/img/customChapterFiles/'+chapterFileDTO.chapterId+'/'+chapterFileDTO.name}}"  />
    </video>
    
  </div>
  <section th:if="${chapterType == 'chapter'}" class="gradient-custom custom-comment-box" style="background-color: rgb(255, 255, 255);">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="">
            <div class="card-body p-4">
              <div class="row">
                <div class="col">
                  <div class="d-flex flex-start" th:each="comment : ${stuCommentViewDTOList}">
                    <img class="rounded-circle shadow-1-strong me-3"
                      th:src="@{${'/assets/img/'+comment.commenterCode+'/'+comment.commenterPhoto}}" 
                      style="width: 50px; height: 50px; margin-right: 10px;" />
                    <div class="flex-grow-1 flex-shrink-1">
                      <!-- COMMENT -->
                      <div>
                        <div class="d-flex justify-content-between align-items-center">
                          <p class="mb-1" th:text="${comment.commenterName}">
                           
                          </p>
                          <span class="" th:text="${comment.dateTime}" style="font-size: 10px; color: rgb(122, 122, 122);"></span>
                          <a th:attr="href='#reply-comment'+${comment.id}"
                            class="btn btn-outline-primary btn-floating" data-bs-toggle="modal"
                            data-mdb-ripple-color="dark">
                            <i class="fas fa-reply fa-xs"></i>
                            <span class="small">reply</span>
                          </a>
                        </div>
                        <p class="small mb-0" th:text="${comment.text}">
                          <!-- It is a long established fact that a reader will
                          be distracted by the readable content of a page. -->
                        </p>
                      </div>
                      <!-- reply -->
                      <div class="d-flex flex-start mt-4" th:each="reply : ${comment.stuReplayViewDTOList}">
                        
                          <img class="rounded-circle shadow-1-strong"
                            th:src="@{${'/assets/img/'+reply.commenterCode+'/'+reply.commenterPhoto}}" 
                            style="width: 50px; height: 50px; margin-right: 10px;" />
                        
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div class="d-flex justify-content-between align-items-center">
                              <p class="mb-1" th:text="${reply.commenterName}">
                                
                              </p>
                              <span class="" th:text="${reply.dateTime}" style="font-size: 10px; color: rgb(122, 122, 122);"></span><span></span>
                            </div>
                            <p class="small mb-0" th:text="${reply.text}">
                              <!-- letters, as opposed to using 'Content here,
                              content here', making it look like readable
                              English. -->
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- reply -->

                    </div>
                    <!-- Edit File Modal Box-->

                    <div class="modal fade" th:attr="id='reply-comment'+${comment.id}" tabindex="-1"
                      aria-labelledby="Edit File" aria-hidden="true" style="margin-top: 120px;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Reply</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form th:action="@{/student/chapter/video/replypost}" th:object="${stuReplyPostDTO}"
                              method="post">
                              <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                  th:src="@{${'/assets/img/'+#request.userPrincipal.principal.code+'/'+#request.userPrincipal.principal.photo}}" 
                                  style="width: 50px; height: 50px; margin-right: 10px;" />
                                <input type="hidden" name="commentId" th:value="${comment.id}">
                                <input type="hidden" name="commenterCode" th:value="${stuCode}">
                                <input type="hidden" name="stuId" th:value="${stuId}">
                                <input type="hidden" name="batchId" th:value="${batchId}">
                                <input type="hidden" name="locationId" th:value="${chapterId}">
                                <input type="hidden" name="chapterFileId" th:value="${chapterFileDTO.id}">
                                <div class="form-outline w-100">
                                  <textarea class="form-control" id="textAreaExample" rows="4"
                                    style="background: rgb(255, 250, 250);" th:field="*{text}"></textarea>
                                  <!-- <label class="form-label" for="textAreaExample">
                                  Message
                                </label> -->
                                </div>
                              </div>
                              <div class="float-end mt-2 pt-1">
                                <button type="submit" class="btn btn-primary btn-sm">
                                  Post comment
                                </button>
                                <button type="reset" class="btn btn-outline-primary btn-sm">
                                  Cancel
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="card-footer py-3 border-0" style="background-color: #ffffff;">
                    <form th:action="@{/student/chapter/video/commentpost}" th:object="${stuCommentPostDTO}"
                      method="post">
                      <!-- C:\Users\Admin\Desktop\AILMS PC\Design-Prototype\assets\img\chainsaw.jpg
                      C:\Users\Admin\Desktop\AILMS PC\Design-Prototype\assets\img\profileboy.jpg -->
                      <div class="d-flex flex-start w-100">
                        <img class="rounded-circle shadow-1-strong me-3"
                        th:src="@{${'/assets/img/'+#request.userPrincipal.principal.code+'/'+#request.userPrincipal.principal.photo}}" style="width: 50px; height: 50px; margin-right: 10px;" />
                        <input type="hidden" name="batchId" th:value="${batchId}">
                        <input type="hidden" name="commenterCode" th:value="${stuCode}">
                        <input type="hidden" name="stuId" th:value="${stuId}">
                        <input type="hidden" name="locationId" th:value="${chapterId}">
                        <input type="hidden" name="chapterFileId" th:value="${chapterFileDTO.id}">
                        <input type="hidden" th:field="*{location}">
                        <div class="form-outline w-100">
                          <textarea class="form-control" id="textAreaExample" rows="4"
                            style="background: rgb(255, 250, 250);" th:field="*{text}"></textarea>
                          <!-- <label class="form-label" for="textAreaExample">
                          Message
                        </label> -->
                        </div>
                      </div>
                      <div class="float-end mt-2 pt-1">
                        <button type="submit" class="btn btn-primary btn-sm">
                          Post comment
                        </button>
                        <button type="reset" class="btn btn-outline-primary btn-sm">
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section th:if="${chapterType == 'customChapter'}" class="gradient-custom custom-comment-box" style="background-color: rgb(255, 255, 255);">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="">
            <div class="card-body p-4">
              <div class="row">
                <div class="col">
                  <div class="d-flex flex-start" th:each="comment : ${stuCommentViewDTOList}">
                    <img class="rounded-circle shadow-1-strong me-3"
                      th:src="@{${'/assets/img/'+comment.commenterCode+'/'+comment.commenterPhoto}}" 
                      style="width: 50px; height: 50px; margin-right: 10px;" />
                    <div class="flex-grow-1 flex-shrink-1">
                      <!-- COMMENT -->
                      <div>
                        <div class="d-flex justify-content-between align-items-center">
                          <p class="mb-1" th:text="${comment.commenterName}">
                            
                          </p>
                          <span class="" th:text="${comment.dateTime}" style="font-size: 10px; color: rgb(122, 122, 122);"></span>
                          <a th:attr="href='#reply-comment'+${comment.id}"
                            class="btn btn-outline-primary btn-floating" data-bs-toggle="modal"
                            data-mdb-ripple-color="dark">
                            <i class="fas fa-reply fa-xs"></i>
                            <span class="small">reply</span>
                          </a>
                        </div>
                        <p class="small mb-0" th:text="${comment.text}">
                          <!-- It is a long established fact that a reader will
                          be distracted by the readable content of a page. -->
                        </p>
                      </div>
                      <!-- reply -->
                      <div class="d-flex flex-start mt-4" th:each="reply : ${comment.stuReplayViewDTOList}">
                        
                          <img class="rounded-circle shadow-1-strong"
                            th:src="@{${'/assets/img/'+reply.commenterCode+'/'+reply.commenterPhoto}}" 
                            style="width: 50px; height: 50px; margin-right: 10px;" />
                        
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div class="d-flex justify-content-between align-items-center">
                              <p class="mb-1" th:text="${reply.commenterName}">
                                
                              </p>
                              <span class="" th:text="${reply.dateTime}" style="font-size: 10px; color: rgb(122, 122, 122);"></span><span></span>
                            </div>
                            <p class="small mb-0" th:text="${reply.text}">
                              <!-- letters, as opposed to using 'Content here,
                              content here', making it look like readable
                              English. -->
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- reply -->

                    </div>
                    <!-- Edit File Modal Box-->

                    <div class="modal fade" th:attr="id='reply-comment'+${comment.id}" tabindex="-1"
                      aria-labelledby="Edit File" aria-hidden="true" style="margin-top: 120px;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Reply</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form th:action="@{/student/customChapter/video/replypost}" th:object="${stuReplyPostDTO}"
                              method="post">
                              <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                  th:src="@{${'/assets/img/'+#request.userPrincipal.principal.code+'/'+#request.userPrincipal.principal.photo}}" 
                                  style="width: 50px; height: 50px; margin-right: 10px;" />
                                <input type="hidden" name="commentId" th:value="${comment.id}">
                                <input type="hidden" name="commenterCode" th:value="${stuCode}">
                                <input type="hidden" name="stuId" th:value="${stuId}">
                                <input type="hidden" name="batchId" th:value="${batchId}">
                                <input type="hidden" name="locationId" th:value="${chapterId}">
                                <input type="hidden" name="chapterFileId" th:value="${chapterFileDTO.id}">
                                <div class="form-outline w-100">
                                  <textarea class="form-control" id="textAreaExample" rows="4"
                                    style="background: rgb(255, 250, 250);" th:field="*{text}"></textarea>
                                  <!-- <label class="form-label" for="textAreaExample">
                                  Message
                                </label> -->
                                </div>
                              </div>
                              <div class="float-end mt-2 pt-1">
                                <button type="submit" class="btn btn-primary btn-sm">
                                  Post comment
                                </button>
                                <button type="reset" class="btn btn-outline-primary btn-sm">
                                  Cancel
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="card-footer py-3 border-0" style="background-color: #ffffff;">
                    <form th:action="@{/student/customChapter/video/commentpost}" th:object="${stuCommentPostDTO}"
                      method="post">
                      <!-- C:\Users\Admin\Desktop\AILMS PC\Design-Prototype\assets\img\chainsaw.jpg
                      C:\Users\Admin\Desktop\AILMS PC\Design-Prototype\assets\img\profileboy.jpg -->
                      <div class="d-flex flex-start w-100">
                        <img class="rounded-circle shadow-1-strong me-3"
                        th:src="@{${'/assets/img/'+#request.userPrincipal.principal.code+'/'+#request.userPrincipal.principal.photo}}"  style="width: 50px; height: 50px; margin-right: 10px;" />
                        <input type="hidden" name="batchId" th:value="${batchId}">
                        <input type="hidden" name="commenterCode" th:value="${stuCode}">
                        <input type="hidden" name="stuId" th:value="${stuId}">
                        <input type="hidden" name="locationId" th:value="${chapterId}">
                        <input type="hidden" th:field="*{location}">
                        <input type="hidden" name="chapterFileId" th:value="${chapterFileDTO.id}">
                        <div class="form-outline w-100">
                          <textarea class="form-control" id="textAreaExample" rows="4"
                            style="background: rgb(255, 250, 250);" th:field="*{text}"></textarea>
                          <!-- <label class="form-label" for="textAreaExample">
                          Message
                        </label> -->
                        </div>
                      </div>
                      <div class="float-end mt-2 pt-1">
                        <button type="submit" class="btn btn-primary btn-sm">
                          Post comment
                        </button>
                        <button type="reset" class="btn btn-outline-primary btn-sm">
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    </div>
  </main>
</body>

</html>