<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body class="body-color">
  <main role="main">
    <div th:fragment="student-home">
      <div class="semi-circle"></div>
      <div class="banner">
        <div class="circle"><i class="fa-solid fa-chalkboard-user"></i></div>
        <div>
          <h1>[[${courseName}]]</h1>
          <h3>[[${batchName}]]</h3>
        </div>
      </div>
      <section class="container header-margin" id="subject" style="margin-top: 10px;">
        <div class="subject">
          <div class="row subject-button">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn button active" id="inprogress">
                InProgress
              </button>
              <button type="button" class="btn button" id="upcomming">
                Upcomming
              </button>
              <button type="button" class="btn button" id="done">Done</button>
            </div>
          </div>
          <div class="row">
            <div class="carousel-container">
              <div class="owl-carousel show owl-theme" id="inprogress-show">
                <a th:each="inProgressChapter : ${inProgressChapterList}"
                  th:href="@{/student/chapter(chapterId=${inProgressChapter.id})}" class="unit-a">
                  <div class="chapter">
                    <div style="max-width: 100%;">
                      <h4 class=" card-header pb-2"><span th:text="${inProgressChapter.name}"></h4>
                      <div class="card-body">
                        <div class="mb-2">Start Date: <span>[[${inProgressChapter.startDate}]]</span></div>
                        <div>End Date: <span>[[${inProgressChapter.endDate}]]</span></div>
                      </div>
                    </div>
                  </div>
                </a>
                <a th:each="inProgressCustomChapter : ${inProgressCustomChapterList}"
                  th:href="@{/student/customChapter(customChapterId=${inProgressCustomChapter.id})}" class="unit-a">
                  <div class="chapter">
                    <div style="max-width: 100%;">
                      <h4 class=" card-header pb-2"><span th:text="${inProgressCustomChapter.name}"></h4>
                      <div class="card-body">
                        <div class="mb-2">Start Date: <span>[[${inProgressCustomChapter.startDate}]]</span></div>
                        <div>End Date: <span>[[${inProgressCustomChapter.endDate}]]</span></div>
                      </div>
                    </div>
                  </div>
                </a>


              </div>
              <!--End owl-carousel-->

              <div class="owl-carousel owl-theme" id="upcomming-show">
                <a th:each="upCommingChapter : ${upCommingChapterList}"
                  th:href="@{/student/chapter(chapterId=${upCommingChapter.id})}" class="unit-a">
                  <div class="chapter">
                    <div style="max-width: 100%;">
                      <h4 class=" card-header pb-2"><span th:text="${upCommingChapter.name}"></h4>
                        <div class="card-body">
                          <div class="mb-2">Start Date: <span>[[${upCommingChapter.startDate}]]</span></div>
                          <div>End Date: <span>[[${upCommingChapter.endDate}]]</span></div>
                        </div>
                    </div>
                  </div>
                </a>

                <a th:each="upCommingCustomChapter : ${upCommingCustomChapterList}"
                  th:href="@{/student/customChapter(customChapterId=${upCommingCustomChapter.id})}" class="unit-a">
                  <div class="chapter">
                    <div style="max-width: 100%;">
                      <h4 class=" card-header pb-2"><span th:text="${upCommingCustomChapter.name}"></h4>
                        <div class="card-body">
                          <div class="mb-2">Start Date: <span>[[${upCommingCustomChapter.startDate}]]</span></div>
                          <div>End Date: <span>[[${upCommingCustomChapter.endDate}]]</span></div>
                        </div>
                    </div>
                  </div>
                </a>


              </div>
              <!--End owl-carousel-->

              <div class="owl-carousel owl-theme" id="done-show">
                <a th:each="doneChapter : ${doneChapterList}" th:href="@{/student/chapter(chapterId=${doneChapter.id})}"
                  class="unit-a">
                  <div class="chapter">
                    <div style="max-width: 100%; ">
                      <h4 class=" card-header pb-2"><span th:text="${doneChapter.name}"></h4>
                        <div class="card-body">
                          <div class="mb-2">Start Date: <span>[[${doneChapter.startDate}]]</span></div>
                          <div>End Date: <span>[[${doneChapter.endDate}]]</span></div>
                        </div>
                    </div>
                  </div>
                </a>

                <a th:each="doneCustomChapter : ${doneCustomChapterList}"
                  th:href="@{/student/customChapter(customChapterId=${doneCustomChapter.id})}" class="unit-a">
                  <div class="chapter">
                    <div style="max-width: 100%;">
                      <h4 class=" card-header pb-2"><span th:text="${doneCustomChapter.name}"></h4>
                        <div class="card-body">
                          <div class="mb-2">Start Date: <span>[[${doneCustomChapter.startDate}]]</span></div>
                          <div>End Date: <span>[[${doneCustomChapter.endDate}]]</span></div>
                        </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!--End container-->
          </div>
        </div>
        <!--End subject-->
      </section>
      <!--End subject Section-->

      <section class="gradient-custom custom-comment-box" style="background-color: rgb(255, 255, 255);">
        <div class="container my-5 py-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
              <div class="">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col">
                      <div class="d-flex flex-start" th:each="comment : ${stuCommentViewDTOList}">
                        <img class="rounded-circle shadow-1-strong me-3"
                          th:src="@{${'/assets/img/'+comment.commenterCode+'/'+comment.commenterPhoto}}"
                          style="width: 50px; height: 50px; margin-right: 10px;" />
                        <div class="flex-grow-1 flex-shrink-1">
                          <!-- COMMENT -->
                          <div>
                            <div class="d-flex justify-content-between align-items-center">
                              <p class="mb-1" th:text="${comment.commenterName}">
                                
                              </p>
                              <span class="" th:text="${comment.dateTime}" style="font-size: 10px; color: rgb(122, 122, 122);"></span>
                              <a th:attr="href='#reply-comment'+${comment.id}"
                                class="btn btn-outline-primary btn-floating" data-bs-toggle="modal"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-reply fa-xs"></i>
                                <span class="small">reply</span>
                              </a>
                            </div>
                            <p class="small mb-0" th:text="${comment.text}">
                              <!-- It is a long established fact that a reader will
                            be distracted by the readable content of a page. -->
                            </p>
                          </div>
                          <!-- reply -->
                          <div class="d-flex flex-start mt-4" th:each="reply : ${comment.stuReplayViewDTOList}">
                            <a class="me-3" href="#">
                              <img class="rounded-circle shadow-1-strong"
                                th:src="@{${'/assets/img/'+reply.commenterCode+'/'+reply.commenterPhoto}}"
                                style="width: 50px; height: 50px; margin-right: 10px;" />
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div class="d-flex justify-content-between align-items-center">
                                  <p class="mb-1" th:text="${reply.commenterName}">
                                    
                                  </p>
                                  <span class="" th:text="${reply.dateTime}" style="font-size: 10px; color: rgb(122, 122, 122);"></span><span></span>
                                </div>
                                <p class="small mb-0" th:text="${reply.text}">
                                  <!-- letters, as opposed to using 'Content here,
                                content here', making it look like readable
                                English. -->
                                </p>
                              </div>
                            </div>
                          </div>
                          <!-- reply -->

                        </div>
                        <!-- Edit File Modal Box-->

                        <div class="modal fade" th:attr="id='reply-comment'+${comment.id}" tabindex="-1"
                          aria-labelledby="Edit File" aria-hidden="true" style="margin-top: 120px;">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Reply</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form th:action="@{/student/home/replypost}" th:object="${stuReplyPostDTO}"
                                  method="post">
                                  <div class="d-flex flex-start w-100">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                    th:src="@{${'/assets/img/'+#request.userPrincipal.principal.code+'/'+#request.userPrincipal.principal.photo}}"
                                      style="width: 50px; height: 50px; margin-right: 10px;" />
                                    <input type="hidden" name="commentId" th:value="${comment.id}">
                                    <input type="hidden" name="commenterCode" th:value="${stuCode}">
                                    <input type="hidden" name="stuId" th:value="${stuId}">
                                    <div class="form-outline w-100">
                                      <textarea class="form-control" id="textAreaExample" rows="4"
                                        style="background: rgb(255, 250, 250);" th:field="*{text}"></textarea>
                                      <!-- <label class="form-label" for="textAreaExample">
                                    Message
                                  </label> -->
                                    </div>
                                  </div>
                                  <div class="float-end mt-2 pt-1">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                      Post comment
                                    </button>
                                    <button type="reset" class="btn btn-outline-primary btn-sm">
                                      Cancel
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="card-footer py-3 border-0" style="background-color: #ffffff;">
                        <form th:action="@{/student/home/commentpost}" th:object="${stuCommentPostDTO}" method="post">
                          <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3"
                              th:src="@{${'/assets/img/'+#request.userPrincipal.principal.code+'/'+#request.userPrincipal.principal.photo}}"
                              style="width: 50px; height: 50px; margin-right: 10px;" />
                            <input type="hidden" name="batchId" th:value="${batchId}">
                            <input type="hidden" name="commenterCode" th:value="${stuCode}">
                            <input type="hidden" name="stuId" th:value="${stuId}">
                            <div class="form-outline w-100">
                              <textarea class="form-control" id="textAreaExample" rows="4"
                                style="background: rgb(255, 250, 250);" th:field="*{text}"></textarea>
                              <!-- <label class="form-label" for="textAreaExample">
                            Message
                          </label> -->
                            </div>
                          </div>
                          <div class="float-end mt-2 pt-1">
                            <button type="submit" class="btn btn-primary btn-sm">
                              Post comment
                            </button>
                            <button type="reset" class="btn btn-outline-primary btn-sm">
                              Cancel
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </main>
</body>

</html>