body{
  overflow-x: hidden;
}
#header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
  /*height: 60px;*/
  top: 0px;
  
}

#profile-dropdown {
  width: auto;
  position: absolute;
  right: 20px;
  top: 20px;
}


#profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  #navbar-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: none;
  }

  
}

#menu-icon {
  width: 20px;
  height: 20px;
  display: block;
  transition: all 1.5s;
  /*border: none;*/
  /*outline: none;*/
}

.menu-icon-close {
  width: 20px;
  height: 20px;
  display: none;
  transition: all 1.5s;
}

#navbar-brand{
  left: 0px;
}

@media (max-width: 767px) {
  #navbar-brand {
    position: relative;
    left: 40%;
    top: initial;
  }
 
}

@media (max-width: 575px) {
  #navbar-brand {
    left: 30%;
  }


}

@media (min-width: 768px) {
  #navcol-1 {
    display: flex;
    justify-content: right;
    margin-right: 80px;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-div {
  position: relative;
}

.nav-item {
  margin-bottom: 5px;
}



.dropdown-item {
  /*background: red;*/
  display: flex;
  align-items: center;
}

.dropdown-menu-item {
  align-items: center;
  margin-right: 10px;
}

.name {
  justify-content: center;
  pointer-events: none;
  margin-bottom: 5px;
  /*border-bottom: 1px solid black;*/
}



/* semi circle  */


.semi-circle{
  background:#00458a;
  border-radius: 0 0 50% 50%;
  height: 30rem;
  left: -5%;
  position: absolute;
  width: 110%;
  z-index: -1;
  overflow-x: hidden;

}
.semi-circle-container{
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: -5;
  
}
.banner{
  z-index: 999;
  padding:2rem;
  display: flex;
  justify-content: left;
  
}

.banner h1,h3{
  color:white;
  
}
.banner h1{
  margin-top:7rem;
  margin-left: 4rem;
}
.banner h3{
  margin-left: 4rem;
}

.banner i{
  font-size:4rem;
  color:#00458a;
}

.circle{
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 6rem;
  margin-left:6rem;
}

@media (max-width: 768px)  {
  body{
    overflow-x: scroll;
  }
  .semi-circle{
    border-radius: 0;
  }
  .banner i{
    margin-left: 1px;
  }

  .banner h1{
    
    margin-left: 2rem;
  }
  .banner h3{
    margin-left: 2rem;
  }
}

@media screen and (max-width:575px) {
  .semi-circle{
    border-radius: 0;
  }
  .banner i{
    margin-left: 0;
  }
  .mytabs{
    overflow-x: scroll;
  }
}





 