.video-fluid {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .embed-responsive{
    display: flex;
    justify-content: center;
  }

  .subject-title {
    width: 700px;
    height: 100px;
    padding-top: 20px;
    padding-left: 225px;
    margin-left: 270px;
    margin-top: 20px;
  }
  
.h1-label {
      font-size: 2.5rem;
} 

.h2-label{
    padding-top: 60px;
    padding-left: 80px;
    font-size: 2rem;
} 



.file-link{
    padding-left: 80px;
} 

.header-unit{
    margin-top: 120px;
} 

.footer-margin{
  margin-bottom: 100px;
}
.unit-a{
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-color{
  background-color: rgb(235, 235, 235) ;
}

.shodow-div-profile {
  background-color: white;
  border-radius: 30px;
  box-shadow: 8px 8px 12px rgb(201, 201, 201);
}

/* #file {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
} */
.logo-fix{
 
    justify-content: center;
  
}

body{
  background-color: rgb(235, 235, 235);
}

.image-margin{
  margin-top: 150px;
}
.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background: white;
  border: 1px solid;
  color: black;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  margin-top: 100px;

}

.header-margin {
  margin-top: 150px;

}

.form-color {
  background-color: lavender;
}

.file-choose {
  margin-top: 28px;
}



.custom-comment-box{
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  border-radius: 15px;
  
}

.custom-div{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 90%;
  border-radius: 15px;
  background-color: white;
  height: auto;
 
}

.space-between{
  margin-top: 50px;
}
.class-margin{
  margin-top: 125px;
}

.width-90{
  width: 90%;
}

.width-100{
  width: 100%;
}

.margin-top-50{
  margin-top: 50px ;
}