body{
    
    font-family: 'Roboto',sans-serif;
}
.mytabs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 50px auto; */
    padding: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.mytabs input[type="radio"]{
    display: none;
}

.mytabs #lab{
    padding: 7px 20px;
    background: #fff;
    font-weight: bold;
    border-radius: 2rem;
    margin-left: 0.3rem;
    color: #00458a;
    outline: 1px solid #00458a;
}

.mytabs .tab{
    width: 100%;
    padding: 20px;
   
    order:1;
    display: none;
 
}

.mytabs .tab h2{
    font-size: 3em;

}
.mytabs input[type="radio"]:checked + #lab + .tab {
    display: block;
    display:flex;
   flex-wrap: wrap;
   flex-direction: column;
   
}

.mytabs input[type="radio"]:checked + #lab{
    background: #00458a;
    outline: 1px solid #00458a;
    color: #fff;
}


.mytabs1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 50px auto; */
    padding: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.mytabs1 input[type="radio"]{
    display: none;
}

.mytabs1 #lab1{
    padding: 5px 15px;
    background: #fff;
    font-weight: bold;
    border-radius: 40px;
    margin-left: 0.3rem;
    color: #166fc9;
    outline: 1px solid #166fc9;
}
.mytabs1 #lab1:hover{
    cursor: pointer;
    background: #166fc9;
    color: #fff;
    transition: all 0.3s;
}

.mytabs1 .tab1{
    width: 100%;
    padding: 20px;
   
    order:1;
    display: none;
 
}

.mytabs1 .tab1 h2{
    font-size: 3em;

}
.mytabs1 input[type="radio"]:checked + #lab1 + .tab1 {
    display: block;
    display:flex;
   flex-wrap: wrap;
   flex-direction: row;
   
}

.mytabs1 input[type="radio"]:checked + #lab1{
    background: #166fc9;
    outline: none;
    color: #fff;
}


