<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org" >

<body>
<main role="main">
    <div th:fragment="teacher-batch">
        <div id="header"></div>
        <div class="semi-circle"></div>
        <div class="banner">
            <div class="circle">
                <i class="fa-solid fa-people-group"></i>
            </div>
            <div>
                <h1>Batches</h1>
                <h3>Total:<span th:text="${totalBatch}"></span></h3>
            </div>
        </div>
        <div class="custom-div margin-top-8">
            <div id="courselist" class="width-100">


                <div id="courselist">
                    <div class="bread-crumb  d-flex justify-content-between width-90">
                        <div class="bread container-fluid ">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a class="text-decoration-none" th:href="@{/teacher/batch/}">Batch List</a></li>


                                </ol>
                            </nav>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="mytabs">
                        <input type="radio" id="tabunit" name="mytabs" checked="checked" />
                        <label for="tabunit" id="lab">Batch List</label>
                        <div class="tab">
                            <!-- <div class="add-list">
                              <label>Add Batch List</label>
                              <a href="admin-batch-add-page.html" class=" btn btn-outline-success btn-floating" data-mdb-ripple-color="dark">
                                <i class="fa-solid fa-circle-plus"></i>
                              </a>
                            </div> -->
                            <table id="datatable1">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="batch,iterationStatus: ${batchList}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${batch.name}"></td>
                                    <td>
                                        <a      th:href="@{/teacher/batch/batchSeeMore(batchId=${batch.id}, radio=)}"
                                                class="more-info btn btn-floating"
                                                data-mdb-ripple-color="dark"
                                        >
                                            See More
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="plus-icon">

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>