<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
  <main>
    <div th:fragment="chapterFile-list">
      <div class="semi-circle"></div>
      <div class="banner">
        <div class="circle">
          <i class="fa-regular fa-folder-open"></i>
        </div>
        <div>
          <h1 th:text = ${chapterName}></h1>
        </div>
      </div>
      <div class="custom-div margin-top-8">
        <div id="courselist" class="width-100">
          <div>
            <div class="bread-crumb d-flex justify-content-between width-90">
              <div class="bread container-fluid">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a class="text-decoration-none" href="/teacher/batch/">
                        Batch List
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a class="text-decoration-none" th:href="@{/teacher/batch/batchSeeMore(batchId=${batchId},radio='chapter')}">
                        Batch Details
                      </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a class="text-decoration-none" href="">
                        ChapterFile List
                      </a>
                    </li>
                  </ol>
                 
                </nav>
              </div>
              <div>
              </div>
            </div>
            <div class="p-5">
              
              <div class="">
                
                <table id="datatable3">
                  <thead>
                    <tr>
                      <th>File Name</th>
                      <th>File Type</th>
                      <th>Preview</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="chapterFile : ${chapterFileList}">
                      <td th:text="${chapterFile.name}"></td>
                      <td th:text="${chapterFile.fileType}"></td>
                      <td th:if="${chapterFile.fileType == 'video'}">

                        <video controls controlsList="nodownload" width="130" height="75">
                          <source th:src="@{${'/assets/img/chapterFiles/'+chapterId+'/'+chapterFile.name}}" />

                        </video>

                      </td>
                      <td th:unless="${chapterFile.fileType == 'video'}">

                        <a th:href="@{${'/assets/img/chapterFiles/'+chapterId+'/'+chapterFile.name}}"
                          class="btn btn-outline-primary btn-floating" data-bs-target="#edit-file"
                          data-mdb-ripple-color="dark" style="margin-left: 30px;">
                          <i class="fa-solid fa-download"></i>
                        </a>

                      </td>
                      
                      <!-- Edit File Modal Box-->

                      <div class="modal fade" th:attr="id='edit-model'+${chapterFile.id}" tabindex="-1"
                        aria-labelledby="Edit File" aria-hidden="true" style="margin-top: 120px;">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Edit File</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form th:action="@{/teacher/batch/course/activityFile/edit}" method="post" th:object="${chapterFileDTO}"
                                enctype="multipart/form-data">
                                <input type="hidden" class="form-control" name="id" th:value="${chapterFile.id}"
                                  id="message-text" />
                                <input type="hidden" class="form-control" name="customChapterId" th:value="${customChapterId}"
                                  id="message-text" />
                                <div class="mb-3">
                                  <input type="text" class="form-control" th:value="${chapterFile.fileType}"
                                    name="fileType" id="message-text" readonly />
                                </div>
                                <div class="mb-3" th:if="${chapterFile.fileType == 'video'}">
                                  <input type="file" class="form-control" id="name" placeholder="Files"
                                    th:field="*{file}" accept="video/mp4,video/x-m4v,video/*" required/>
                                </div>
                                <div class="mb-3" th:if="${chapterFile.fileType == 'pdf'}">
                                  <input type="file" class="form-control" id="name" placeholder="Files"
                                    th:field="*{file}" accept="application/pdf" required/>
                                </div>
                                <div class="mb-3" th:if="${chapterFile.fileType == 'assignment'}">
                                  <input type="file" class="form-control" id="name" placeholder="Assignment"
                                    th:field="*{file}"  required />
                                </div>

                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                  </button>
                                  <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                    <tr th:each="assignment : ${assignmentList}">
                      <td th:text="${assignment.name}"></td>
                      <td th:text="assignment"></td>
                      <td>

                        <a th:href="@{${'/assets/img/customAssignment/'+chapterId+'/'+assignment.name}}"
                          class="btn btn-outline-primary btn-floating" data-bs-target="#edit-file"
                          data-mdb-ripple-color="dark" style="margin-left: 30px;">
                          <i class="fa-solid fa-download"></i>
                        </a>

                      </td>
                  </tbody>
                </table>
              </div>

              <div class="plus-icon"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add File Modal Box -->
      <div class="modal fade" id="add-file" tabindex="-1" aria-labelledby="Add File" aria-hidden="true"
        style="margin-top: 120px;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add File</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form th:action="@{/teacher/batch/course/activityFile/add}" method="post" th:object="${chapterFileDTO}"
                enctype="multipart/form-data">
                <div class="mb-3">
                  <input type="hidden" class="form-control" name="customChapterId" th:value="${customChapterId}"
                    id="message-text" />
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="fileType" required>
                    <option value="" disabled selected>Choose File Type</option>
                    <option value="video">Video</option>
                    <option value="pdf">Pdf</option>
                    <option value="assignment">Assignment</option>
                  </select>
                </div>
                <div class="mb-3">
                  <input type="file" class="form-control" th:field="*{file}" required/>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>




    </div>
    </div>
  </main>
</body>

</html>