<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="ADMFRG :: head"></div>
  <title>Admin Home</title>
</head>

<body class="body-color">
  <header th:replace="ADMFRG :: header"></header>
  <main role="main">
    <div th:replace="fragments/A001 :: admin-home"></div>
  </main>
  <footer th:replace="ADMFRG :: footer"></footer>
  <div th:replace="ADMFRG :: scripts"></div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 

  <script type="text/javascript">
    $(document).ready(function () {
      let batchId = document.getElementById("batch").value;

      var studentName = [];
      var attendence = [];
      console.log(batchId);
      document.getElementById("batch").addEventListener("change", () => {
        // myChart.destroy();
        batchId = document.getElementById("batch").value;
        studentName = []
        attendence = []
        $('#myChart').remove();
        $('#graficoSituacoesPedidos').append('<canvas id="myChart" style="max-width:70%; width:40% ; height: 200px;"></canvas>');
        $.ajax({
          url: "/admin/grap?batchId=" + batchId,
          success: function (result) {
            var batchId = [studentName, attendence, batchId];
            console.log(result);
            result.forEach((element) => {
              studentName.push(element.stuName);
              attendence.push(element.attendance);
            });
            // drawLineChart(studentName,attendence)
            console.log(batchId);
            console.log(studentName);
            console.log(attendence);
            const ctx = document.getElementById("myChart").getContext("2d");
            const myChart = new Chart(ctx, {
              type: "bar",
              data: {
                labels: studentName,
                datasets: [
                  {
                    label: "Attend Count Per Student Data",
                    data: attendence,
                    backgroundColor: [
                      // "rgba(255, 99, 132, 0.2)",
                      // "rgba(54, 162, 235, 0.2)",
                      // "rgba(255, 206, 86, 0.2)",
                      // "rgba(75, 192, 192, 0.2)",
                      // "rgba(153, 102, 255, 0.2)",
                      // "rgba(255, 159, 64, 0.2)",
                      'rgb(106, 204, 226)',
                    ],
                    borderColor: [
                      // "rgba(255, 99, 132, 1)",
                      // "rgba(54, 162, 235, 1)",
                      // "rgba(255, 206, 86, 1)",
                      // "rgba(75, 192, 192, 1)",
                      // "rgba(153, 102, 255, 1)",
                      // "rgba(255, 159, 64, 1)",
                      'rgb(106, 204, 226)',
                    ],
                    borderWidth: 1,
                  },
                ],
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true,
                  },
                },
              },
            });
          },
        });

      });
      setTimeout(() => {
        $.ajax({
          url: "/admin/grap?batchId=" + batchId,
          success: function (result) {
            var batchId = [studentName, attendence, batchId];
            console.log(result);
            result.forEach((element) => {
              studentName.push(element.stuName);
              attendence.push(element.attendance);
            });
            // drawLineChart(studentName,attendence)
            console.log(batchId);
            console.log(studentName);
            console.log(attendence);
            const ctx = document.getElementById("myChart").getContext("2d");
            const myChart = new Chart(ctx, {
              type: "bar",
              data: {
                labels: studentName,
                datasets: [
                  {
                    label: "Attend Count Per Student Data",
                    data: attendence,
                    backgroundColor: [
                      // "rgba(255, 99, 132, 0.2)",
                      // "rgba(54, 162, 235, 0.2)",
                      // "rgba(255, 206, 86, 0.2)",
                      // "rgba(75, 192, 192, 0.2)",
                      // "rgba(153, 102, 255, 0.2)",
                      // "rgba(255, 159, 64, 0.2)",
                      'rgb(106, 204, 226)',
                    ],
                    borderColor: [
                      // "rgba(255, 99, 132, 1)",
                      // "rgba(54, 162, 235, 1)",
                      // "rgba(255, 206, 86, 1)",
                      // "rgba(75, 192, 192, 1)",
                      // "rgba(153, 102, 255, 1)",
                      // "rgba(255, 159, 64, 1)",
                      'rgb(106, 204, 226)',
                    ],
                    borderWidth: 1,
                  },
                ],
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true,
                  },
                },
              },
            });
          },
        });

      }, 10);
    });
  </script>
</body>

</html>