<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"
    />
    <link rel="stylesheet" href="./assets/css/batchdetails.css" />
    <link rel="stylesheet" href="./assets/css/courselist.css" />
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <link rel="stylesheet" href="./assets/css/header.css" />
    <link
      rel="stylesheet"
      href="../assets/jquery-confirm/jquery-confirm.min.css"
    />
  </head>

  <body style="background-color: rgb(235, 235, 235);">
  <div th:fragment="">
    <div class="semi-circle"></div>
    <div class="banner">
      <div class="circle">
        <i class="fa-regular fa-folder-open"></i>
      </div>
      <div>
        <h1>Courses</h1>
        <h3>Total: 4</h3>
      </div>
    </div>
    <div class="custom-div margin-top-8">
      <div id="courselist" class="width-100">
        <div>
          <div class="bread-crumb d-flex justify-content-between width-90">
            <div class="bread container-fluid">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a class="text-decoration-none" href="A002.html">
                      Course List
                    </a>
                  </li>
                  <li class="breadcrumb-item">
                    <a class="text-decoration-none" href="A002-01.html">
                      Course Details
                    </a>
                  </li>
                  <li class="breadcrumb-item">
                    <a class="text-decoration-none" href="A002-03.html">
                      Chapter Details
                    </a>
                  </li>
                </ol>
              </nav>
            </div>
            <div></div>
          </div>
          <div class="mytabs">
            <input type="radio" id="tabunit" name="mytabs" checked="checked" />
            <label for="tabunit" id="lab">Chapter Name</label>
            <div class="tab">
              <div class="add-list">
                <label>Add File</label>
                <a
                  href="#"
                  class="btn btn-outline-success btn-floating"
                  data-bs-toggle="modal"
                  data-bs-target="#add-file"
                >
                  <i class="fa-solid fa-circle-plus"></i>
                </a>
              </div>
              <table id="datatable">
                <thead>
                  <tr>
                    <th>File Name</th>
                    <th>File Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>what is servlet</td>
                    <td>mp4</td>

                    <td>
                      <a
                        href=""
                        class="btn btn-outline-primary btn-floating"
                        data-bs-toggle="modal"
                        data-bs-target="#edit-file"
                        data-mdb-ripple-color="dark"
                      >
                        <i class="fa-regular fa-pen-to-square"></i>
                      </a>
                      <a
                        href=""
                        class="btn delete-chapter-file btn-outline-danger btn-floating"
                        data-mdb-ripple-color="dark"
                      >
                        <i class="fa-solid fa-circle-minus"></i>
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td>what is servlet</td>
                    <td>mp4</td>

                    <td>
                      <a
                        href=""
                        data-bs-toggle="modal"
                        data-bs-target="#edit-file"
                        class="btn btn-outline-primary btn-floating"
                        data-mdb-ripple-color="dark"
                      >
                        <i class="fa-regular fa-pen-to-square"></i>
                      </a>
                      <a
                        href=""
                        class="btn delete-chapter-file btn-outline-danger btn-floating"
                        data-mdb-ripple-color="dark"
                      >
                        <i class="fa-solid fa-circle-minus"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="plus-icon"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add File Modal Box -->
    <div
      class="modal fade"
      id="add-file"
      tabindex="-1"
      aria-labelledby="Add File"
      aria-hidden="true"
      style="margin-top: 120px;"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add File</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"

                  placeholder="File Name"
                />
              </div>
              <div class="mb-3">
                <input type="file" class="form-control"  />
              </div>
            </form>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit File Modal Box-->
    <div
      class="modal fade"
      id="edit-file"
      tabindex="-1"
      aria-labelledby="Add File"
      aria-hidden="true"
      style="margin-top: 120px;"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Edit File</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  placeholder="File Name"
                />
              </div>
              <div class="mb-3">
                <input type="file" class="form-control" id="message-text" />
              </div>
            </form>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>


    <script src="./assets/jquery/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/83e4876698.js"
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/data.js"></script>
    <!-- <script src="../assets/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="./assets/jquery-confirm/jquery-confirm.min.js"></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
    ></script>

    <script>
      $(document).ready(function () {
        $('a.delete-chapter-file').confirm({
          closeIcon: true,
          theme: 'Material',
          //icon: 'fa-solid fa-warning',

          title: 'Delete File!',
          content: 'Are you sure?',
          animation: 'Scale',
          buttons: {
            Yes: function () {},
            No: function () {},
          },
        })
      })
    </script>
  </body>
</html>
