<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
 
  <title>Course List</title>
  <div th:replace="fragments :: head"></div>
</head>

<body style="background-color: rgb(235, 235, 235);">
  <header th:replace="fragments :: header"></header>

  <main>
    <div th:replace="fragments/A002-03 :: chapterFile-list"></div>
  </main>

  <footer th:replace="fragments :: footer"></footer>
  <div th:replace="fragments :: scripts"></div>

  <script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
></script>
<script th:src="@{/assets/js/data.js}"></script>

  <script>
    $(document).ready(function () {
      $('a.delete-chapter-file').confirm({
        closeIcon: true,
        theme: 'Material',
        //icon: 'fa-solid fa-warning',

        title: 'Delete File!',
        content: 'Are you sure?',
        animation: 'Scale',
        buttons: {
          Yes: function () { },
          No: function () { },
        },
      })
    })
  </script>
</body>

</html>