<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
  <title>Course List</title>
  <div th:replace="ADMFRG :: head"></div>

</head>

<body style="background-color: rgb(235, 235, 235);">
  <header th:replace="ADMFRG :: header"></header>

    <main>
      <div th:replace="fragments/A002 :: course-list"></div>
    </main>

    <footer th:replace="ADMFRG :: footer"></footer>
    <div th:replace="ADMFRG :: scripts"></div>

    <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
  ></script>
  <script th:src="@{/assets/js/data.js}"></script>


  <script>
    $(document).on("click",'a.delete-course',function(){
      window.courseId=$(this).attr('id');
    })
    $(document).ready(function () {
      $('a.delete-course').confirm({
        closeIcon: true,
        theme: 'Material',
        //icon: 'fa-solid fa-warning',

        title: 'Remove Course',
        content: 'Are you sure?',
        animation: 'Scale',
        buttons: {
          Yes: function () {        
            // /admin/course/chapter/chapterFile/delete(chapterFileId=${chapterFile.id},chapterId=${chapterId})      
            window.location = `/admin/course/delete?courseId=`+courseId;
          },
          No: function () {},
        },
      })
    })
  </script>
</body>

</html>