<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments :: head"></div>
    <title>Course List</title>
  </head>

  <body>
    <header th:replace="fragments :: header"></header>

    <main>
      <div th:replace="fragments/A002-01 :: course-list"></div>
    </main>

    <footer th:replace="fragments :: footer"></footer>
    <div th:replace="fragments :: scripts"></div>

    <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
  ></script>
  <script th:src="@{/assets/js/data.js}"></script>

    <!--Confirm for chapter delete-->
    <script>
      $(document).ready(function () {

        window.courseId = $("#course-id-unique").val();


        $("a.delete-chapter").confirm({
          closeIcon: true,
          theme: "Material",
          //icon: 'fa-solid fa-warning',

          title: "Delete Chapter",
          content: "Are you sure to delete this chapter?",
          animation: "Scale",
          buttons: {
            Yes: function () {},
            No: function () {},
          },
        });
    //<!-- Confirm for exam delete -->

      $(document).on("click",'a.delete-exam',function(){
        window.examId=$(this).attr('id');
      })     
        $("a.delete-exam").confirm({
          closeIcon: true,
          theme: "Material",
          //icon: 'fa-solid fa-warning',
          title: "Delete Exam",
          content: "Are you sure to delete this exam?",
          animation: "Scale",
          buttons: {
            Yes: function () {
              window.location = "/admin/course/exam-delete?id="+examId+"&courseId="+courseId;
            },
            No: function () {},
          },
        });
      });

    </script>
  </body>
</html>
