<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="ADMFRG :: head"></div>
    <title>Add Students</title>
    <link rel="stylesheet" href="../assets/css/admin-student-add.css" />
  </head>

  <body style="background-color: rgb(235, 235, 235);">
    <header th:replace="ADMFRG :: header"></header>
    <main role="main" style="margin-bottom: 200px;">
      <div th:replace="fragments/A003-04 :: student-add"></div>
    </main>
    <footer th:replace="ADMFRG :: footer"></footer>
    <div th:replace="ADMFRG :: scripts"></div>

    <script>
      window.minRow = 1

      //Add
      $(document).on('click', '.add-row', function (e) {
        e.preventDefault()
        var _row =
          '<tr class=" form-row student-row" >' +
          '<div class="row ">' +
          '<td class="tdInput"><input type="text" class="form-control codes " name="code" placeholder="Id" required autofocus oninput="checkId(this);" style="text-transform: uppercase;">' +
          '<span id="same-name" class="same-name" hidden="hidden" style="color: red;"></span>' +
          '<span id="diff-name" class="diff-name" hidden="hidden" style="color: green;"> Id Available! </span>' +
          '<span class="id-repeat  ms-1" style="color: red;"></span></td>' +
          '<td class="tdInput"><input type="text" class="form-control codes" name="password" placeholder="Password" required></td>' +
          '<td class="tdInput"><input type="text" class="form-control codes" name="name" placeholder="Name" required  style="text-transform: capitalize;"></td>' +
          '<td class="btn-td">' +
          '<button type="button" class="btn btn-outline-success add-row" ><i class="fa-solid fa-plus "></i></button>' +
          '<button type="button" class="btn btn-outline-danger remove-row ms-1"><i class="fa-solid fa-minus "></i></button>' +
          '</td>' +
          '</div>' +
          '</tr>'
        $(this).closest('.form-row').after(_row)
        minRow++
        $('#total-student').text('Total : ' + minRow)
      })

      //Remove
      $(Document).on('click', '.remove-row', function (e) {
        e.preventDefault()
        if (minRow > 1) {
          $(this).parent().closest('tr').remove()
          minRow--
          $('#total-student').text('Total : ' + minRow)
        }
      })

      //ajax request to insert all form data
      $('#student-form').submit(function (e) {       
        let batchId = $('#student-form').find('#batchId').val()

        e.preventDefault()
        let students = []

        $('.form-row').each(function () {
          let student = {}
          $($(this).find('.tdInput')).each(function () {
            let value = $($(this).find('input')).val()
            student[$($(this).find('input')).attr('name')] = value
          })

          students.push(student)
        })

        $.ajax({
          type: 'POST',
          url: '/admin/batch/saveStudent',
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: JSON.stringify(students),
          success: function () {            
            $.alert({
                    title: 'Success!',
                    content: 'Students are added successfully!',
                    buttons: {
                      ok : function(){
                        window.location="/admin/batch/batchSeeMore?id=" + batchId + "&radio=student";
                      }
                    }
                    });
          },
        })
        $('#student-form').trigger('reset')
      })

      function checkId(e) {
        let id = $('#student-form').find('#batchId').val()
        let enterId = $(e).val()
        let idRepeatError = false;
        if (minRow > 1) {
          let currentId = e.closest('.codes')
          let siblingIds = $(currentId).siblings('.codes ,span #same-name')

          let currentrow = e.closest('.student-row')
          let siblingrows = $(currentrow).siblings('.student-row')
          $(siblingrows).each(function () {
            if ($(e).val() == $(this).find('input.codes').val()) {
              console.log('equals')
              $(currentrow).find('.id-repeat').text('Id should not be same with other!')
              idRepeatError = true;
              return false
            } else {
              $(currentrow).find('.id-repeat').text('')
            }
          })
        }
        $.ajax({
          type: 'GET',
          url: '/admin/batch/CheckStudentId',
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: { id: id, enterId: enterId.trim() },
          success: function () {
            let currentrow = e.closest('.student-row')
            let span = $(currentrow).find('.same-name')
            let span1 = $(currentrow).find('.diff-name')
            //$(span).removeAttr('hidden')
            $(span).text('Id is already taken!')
            $(span1).attr('hidden', 'hidden')
            document.getElementById('saveStudent').disabled = true
            if(!idRepeatError){
              $(span).removeAttr('hidden', 'hidden')
            }           
          },
          error: function () {
            let currentrow = e.closest('.student-row')
            let span = $(currentrow).find('.same-name')
            let span1 = $(currentrow).find('.diff-name')
            // span1.removeAttribute('hidden')
            $(span).attr('hidden', 'hidden')
            $(span).text('')           
            $(span1).removeAttr('hidden')          
            if ($('.id-repeat').text() == '' && $('.same-name').text() == '')
              document.getElementById('saveStudent').disabled = false
              if(idRepeatError){
              $(span1).attr('hidden', 'hidden')
            }  
          },
        })       
        if ($('.id-repeat').text() != '' || $('.same-name').text() != '') {
          $('#saveStudent').attr('disabled', 'disabled')
        } else {
          $('#saveStudent').removeAttr('disabled')
        }        
      }
    </script>
  </body>
</html>
