<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="ADMFRG :: head"></div>
    <title>Activity-Add</title>
  </head>

  <body style="background-color: rgb(235, 235, 235);">
    <main role="main">
      <div th:replace="fragments/A003-06 :: classroom-add"></div>
    </main>
    <footer th:replace="ADMFRG :: footer"></footer>
    <div th:replace="ADMFRG :: scripts"></div>
  </body>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
      rel="stylesheet"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script>
      $('#datetime').datetimepicker({
        format: 'HH:mm',
      })
    </script>
</html>
