<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="ADMFRG:: head"></div>
    <title>Edit Batch</title>
  </head>

  <body style="background-color: rgb(235, 235, 235);">   
    <header th:replace="ADMFRG :: header"></header>
    <main role="main">
      <div th:replace="fragments/A003-02 :: edit-batch"></div>
    </main>
    <footer th:replace="ADMFRG :: footer"></footer>
    <div th:replace="ADMFRG :: scripts"></div>
    
    <script src="../assets/js/data.js"></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
    ></script>  
    
    <script>
    function checkName() {
      let batchName=$("#name").val();
      let batchId=$('#batchId').val();

        $.ajax({
          type: "GET",
          url: "../CheckBatchNameEditBatch",
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          data: {batchName: batchName,batchId:batchId},
          success: function () {
            let span = document.getElementById('same-name');
            span.removeAttribute('hidden');
            let span1 = document.getElementById('diff-name');
            span1.setAttribute('hidden', 'hidden');
            let button = document.getElementById('editBatch').disabled=true;
          },
          error: function () {
            let span = document.getElementById('same-name');
            span.setAttribute('hidden', 'hidden');
            let span1 = document.getElementById('diff-name');
            span1.removeAttribute('hidden');
            let button = document.getElementById('editBatch').disabled=false;
          }

        })

    }
  </script>
    
  </body>
</html>
