<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head >
  <div th:replace="fragments :: head"></div>
  <title>Create A New Batch</title>
</head>
  <body style="background-color: rgb(235, 235, 235);">
  <header th:replace="fragments :: header"></header>
  <main role="main">
    <div th:replace="fragments/A003-01 :: create-batch"></div>
  </main>
  <footer th:replace="fragments :: footer"></footer>
  <div th:replace="fragments :: scripts"></div>

    <script src="../assets/js/data.js"></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
    ></script>


  </body>
</html>
