<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments :: head"></div>
    <title>Update Student</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/admin-student-add.css" />
  </head>

  <body style="background-color: rgb(235, 235, 235);">
  <header th:replace="fragments :: header"></header>
  <main role="main">
    <div th:replace="fragments/A003-08 :: student-update"></div>
  </main>
  <footer th:replace="fragments :: footer"></footer>
  <div th:replace="fragments :: scripts"></div>
  </body>
</html>
