<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="ADMFRG :: head"></div>
    <title>Update Student</title>
    <link rel="stylesheet" href="../assets/css/admin-student-add.css" />
  </head>

  <body style="background-color: rgb(235, 235, 235);">
  <header th:replace="ADMFRG :: header"></header>
  <main role="main" style="margin-bottom: 200px;">
    <div th:replace="fragments/A003-05 :: student-update"></div>
  </main>
  <footer th:replace="ADMFRG :: footer"></footer>
  <div th:replace="ADMFRG :: scripts"></div>
  </body>
</html>
