<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments :: head"></div>
    <title>Add Student</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/admin-student-add.css" />
  </head>

  <body style="background-color: rgb(235, 235, 235);">
  <header th:replace="fragments :: header"></header>
  <main role="main">
    <div th:replace="fragments/A003-04 :: student-add"></div>
  </main>
  <footer th:replace="fragments :: footer"></footer>
  <div th:replace="fragments :: scripts"></div>




    <script>
      var minRow = 1

      //Add
      $(document).on('click', '.add-row', function (e) {
        e.preventDefault()
        var _row =
          '<tr class=" form-row">' +
          '<div class="row ">' +
          '<td class="tdInput"><input type="text" class="form-control" name="code" placeholder="Id" required autofocus></td>' +
          '<td class="tdInput"><input type="text" class="form-control" name="password" placeholder="Password" required></td>' +
          '<td class="tdInput"><input type="text" class="form-control" name="name" placeholder="Name" required></td>' +
          '<td class="btn-td">' +
          '<button type="button" class="btn btn-outline-success add-row" ><i class="fa-solid fa-plus "></i></button>' +
          '<button type="button" class="btn btn-outline-danger remove-row ms-1"><i class="fa-solid fa-minus "></i></button>' +
          '</td>' +
          '</div>' +
          '</tr>'
        $('#student-table').append(_row)
        minRow++
        $('#total-student').text('Total : ' + minRow)
      })

      //Remove
      $(Document).on('click', '.remove-row', function (e) {
        e.preventDefault()
        if (minRow > 1) {
          $(this).parent().closest('tr').remove()
          minRow--
          $('#total-student').text('Total : ' + minRow)
        }
      })

      //ajax request to insert all form data
      $('#student-form').submit(function (e) {

    let batchId= $('#student-form').find('#batchId').val();
        e.preventDefault()
        let students = []

        $('.form-row').each(function () {
          let student = {};
          $($(this).find('.tdInput')).each(function () {
            let value=$($(this).find("input")).val();
            student[$($(this).find("input")).attr('name')] = value;
          })
          students.push(student)
          console.log(student);
        })
        console.log(batchId);
        console.log(students);
        $.ajax({
          type : "POST",
          url : "saveStudent",
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          data: JSON.stringify(students),
          success: function(){
            //alert("Ok gread");
          }
        });
        $("#student-form").trigger("reset");
      })

      function checkId() {
        let id=$("#id").val();
        let enterId=$("#enterId").val();
        $.ajax({
          type: "GET",
          url: "../CheckStudentId",
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          data : {id: id,enterId:enterId},
          success: function () {
            let span = document.getElementById('same-name');
            span.removeAttribute('hidden');
            let span1=document.getElementById('diff-name');
            span1.setAttribute('hidden','hidden');
          },
          error: function () {
            let span = document.getElementById('same-name');
            span.setAttribute('hidden','hidden');
            let span1=document.getElementById('diff-name');
            span1.removeAttribute('hidden');

          }

        })
      }
    </script>
  </body>
</html>
