<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:replace="ADMFRG :: head"></div>
    <title>Batch</title>
  </head>

  <body style="background-color: rgb(235, 235, 235);">
  <header th:replace="ADMFRG :: header"></header>
  <main role="main">
    <div th:replace="fragments/A003 :: admin-batch"></div>
  </main>
  <footer th:replace="ADMFRG :: footer"></footer>
  <div th:replace="ADMFRG :: scripts"> </div>


    <script th:src="@{/assets/js/data.js}"></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
    ></script>
    <!-- Batch Lock -->
    <script>
      $(document).on('click', 'a.batch-close', function() {
        window.batchId=$(this).attr('id');
      });
      $(document).ready(function () {
        $('a.batch-close.btn-outline-success').confirm({
          closeIcon: true,
          theme: 'Material',
          title: 'Batch Close!',
          content: 'Are you sure to close?',
          animation: 'Scale',
          buttons: {

            No: function () {},
            Yes: function () {
                console.log(batchId);
                $.ajax({
                  type: "GET",
                  url: "/admin/batch/BatchClose",
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  data: {batchId: batchId},
                  success: function () {
                    location.reload(true);
                  },
                  error: function () {}
                })


            },
           
        }
      });
      $('a.batch-close.btn-outline-secondary').confirm({
          closeIcon: true,
          theme: 'Material',
          title: 'Reopen Batch!',
          content: 'Are you sure?',
          animation: 'Scale',
          buttons: {           
            No: function () {},
            Yes: function () {
              $.ajax({
                type: "GET",
                url: "/admin/batch/BatchReopen",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {batchId: batchId},
                success: function () {
                  location.reload(true);
                },
                error: function () {}

              })
            },
          }
        });
      })

      // Batch delete
      $('a.batch-delete').on("click", function(e){
        e.preventDefault();
        batchId = $(this).attr("id");
        $.confirm({
          closeIcon: true,
          theme: 'Material',
          title: 'Delete Batch!',
          content: 'Are you sure to delete this batch?',
          animation: 'Scale',
          buttons: {           
            No: function () {},
            Yes: function () {
              $.ajax({
                type: "GET",
                url: "/admin/batch/deleteBatch",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {batchId: batchId},
                success: function () {
                  location.reload(true);
                },
                error: function () {
                  $.alert('Sorry, error occurs!')
                }
                  
              })
            },
          }
        });
    
      })
      
    </script>

    

  </body>
</html>
