<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="ADMFRG :: head"></div>
    <title>teacher List</title>
  </head>

  <body style="background-color: rgb(235, 235, 235);">
    <header th:replace="ADMFRG :: header"></header>
    <main role="main">
      <div th:replace="fragments/A004-01 :: teacher-add"></div>
     </main>
   <footer th:replace="ADMFRG :: footer"></footer>
   <div th:replace="ADMFRG :: scripts"></div>
  </body>
  <script>
     $(document).ready(function (){      
      $('#file').change(function(){
        showImageThumbnail(this);
      });
    })
    function showImageThumbnail(fileInput){
      file = fileInput.files[0];
      reader = new FileReader();
      reader.onload = function(e){
        $('#thumbnail').attr('src',e.target.result);
        image = e.target.result;
      };
      reader.readAsDataURL(file);
      $('#thumbnail').attr('src',image);
     }
  </script>
</html>
