<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="ADMFRG :: head"></div>
    <title>Admin Change Password</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/subject.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/profile.css">
</head>

<body class="body-color">
<header th:replace="ADMFRG :: header"></header>
<main role="main">
    <div th:replace="fragments/A007 :: change-password"></div>
</main>
<footer th:replace="ADMFRG :: footer"></footer>
<div th:replace="ADMFRG :: scripts"></div>
</body>

</html>