

  <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Student</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
<style>

</style>

</head>

<body>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/header.js"></script>
</body>

</html>