<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="TECFRG :: head"></div>
  <title>Home Page</title>
</head>

<body class="body-color">
  <header th:replace="TECFRG :: header"></header>
  <main role="main">
    <div th:replace="fragments-teacher/T001 :: teacher-home"></div>
  </main>
  <footer th:replace="TECFRG :: footer"></footer>
  <div th:replace="TECFRG:: scripts"></div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      let batchId = document.getElementById("course").value;
      console.log(bId);
    })
  </script>

 
</body>

</html>