<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="TECFRG :: head"></div>
    <title>Batch Details</title>
    <style>
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
              }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
    </style>

  </head>

  <body style="background-color: rgb(235, 235, 235);">
  <header th:replace="TECFRG :: header"></header>
  <main role="main">
    <div th:replace="fragments-teacher/T003 :: batchdetails"></div>
  </main>
  <footer th:replace="TECFRG :: footer"></footer>
  <div th:replace="TECFRG:: scripts"></div>
  <script th:src="@{/assets/js/teacher-batch-detail.js}"></script>

    <!-- Confirm Box-->
    <script>
      $(document).on("click",'a.remove-customChapter',function(){
        window.customChapter=$(this).attr('id');
        
      })
      $(document).ready(function () {
        $('a.remove-customChapter').confirm({
          closeIcon: true,
          theme: 'Material',
          //icon: 'fa-solid fa-warning',
  
          title: 'Remove Teacher',
          content: 'Are you sure?',
          animation: 'Scale',
          buttons: {
            Yes: function () {        
              // /admin/course/chapter/chapterFile/delete(customChapter=${chapterFile.id},chapterId=${chapterId})      
              window.location = `/teacher/batch/course/activity/delete?customChapter=`+chapterFileId;
            },
            No: function () {},
          },
        })

        showExamTable();//selected by default
        $('#selectBoxForExamAnsAssignment').on('change',function(){
          (this.value == 0)? showExamTable() : showAssignmentTable();
        })

        function showExamTable(){
          $('#examMarkTable').show();
          $('#assignmentMarkTable').hide();
        }
        function showAssignmentTable(){
          $('#assignmentMarkTable').show();
          $('#examMarkTable').hide();
        }
        
      })
    </script>
  </body>
</html>
