<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <head>
  
      <title>Comment Home</title>
      <div th:replace="TECFRG :: head"></div>
    </head>
  </head>
  
  <body style="background-color: rgb(235, 235, 235);">
    <header th:replace="TECFRG :: header"></header>
    <main role="main">
      <div th:replace="fragments-teacher/T005-01 :: comment-assignment"></div>
    </main>
    <footer th:replace="TECFRG :: footer"></footer>
    <div th:replace="TECFRG:: scripts"></div>
</body>

</html>