<!doctype html>
<html lang="en">

<head>
    <title>Your Profile</title>
    <div th:replace="TECFRG :: head"></div>
    <link rel="stylesheet" type="text/css" href="/assets/css/profile.css">
</head>

<body class="body-color">
    <header th:replace="TECFRG :: header"></header>

    <main style="padding-bottom: 80px;">
        <div th:replace="fragments-teacher/T006 :: teacher-profile"></div>
    </main>

    <footer th:replace="TECFRG :: footer"></footer>
    <div th:replace="TECFRG :: scripts"></div>
    <script>
        img_input = document.querySelector("#img-input");
        img_input.onchange = function (e) {
            if (e.target.files.length > 0) {
                src = URL.createObjectURL(e.target.files[0]);
                image = document.querySelector(".image-container img");
                image.src = src;

            }
        }
    </script>
</body>

</html>