<!doctype html>
<html lang="en">

    <head>
        <title>Your Profile</title>
        <!-- carousel-css -->
        <link rel="stylesheet" href="../assets/owlcarousel/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../assets/owlcarousel/css/owl.theme.default.min.css">
        <div th:replace="TECFRG :: head"></div>
    </head>

    <body class="body-color">
    <header th:replace="TECFRG :: header"></header>

    <main>
        <div th:replace="fragments-teacher/T006 :: teacher-profile"></div>
    </main>

    <footer th:replace="TECFRG :: footer"></footer>
    <div th:replace="TECFRG :: scripts"></div>
</body>
</html>