<!doctype html>
<html lang="en">

    <head>
        <title>Your Profile</title>
        <!-- carousel-css -->
        <link rel="stylesheet" href="../assets/owlcarousel/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../assets/owlcarousel/css/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/profile.css">
        <div th:replace="TECFRG :: head"></div>
    </head>

    <body class="body-color">
    <header th:replace="TECFRG :: header"></header>

    <main>
        <div th:replace="fragments-teacher/T006 :: teacher-profile"></div>
    </main>

    <footer th:replace="TECFRG :: footer"></footer>
    <div th:replace="TECFRG :: scripts"></div>
    <script>
        img_input =document.querySelector("#img-input");
        img_input.onchange=function (e){
            if(e.target.files.length >0){
                src= URL.createObjectURL(e.target.files[0]);
                image=document.querySelector(".image-container img");
                image.src=src;

            }
        }
    </script>
</body>
</html>