<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="TECFRG :: head"></div>
    <title>Teacher Change Password</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/profile.css">
</head>

<body class="body-color">
<header th:replace="TECFRG :: header"></header>
<main role="main">
    <div th:replace="fragments-teacher/T008 :: change-password"></div>
</main>
<footer th:replace="TECFRG :: footer"></footer>
<div th:replace="TECFRG :: scripts"></div>
</body>

</html>